*, *::before,*::after{
	margin:0;
	padding:0;
	box-sizing: border-box;
	word-break: keep-all;
	word-wrap: break-word;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	height: 100%;
	overflow: hidden;
}


body {
	background-color: #1c1c1c;
	height: 100%;
	font-size: 1.6rem;
	line-height:1.45;
	font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans KR',"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji,sans-serif";
	color: #969696;
}

a {
	color: #969696;
	text-decoration: none;
}

#wrap {
	padding: 2.0rem;
}