@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 

:root {
	--primary: #007bff;
	--white: #fff;
	--light: #f7f7f7;
	--lightgray: #ced4da;
	--gray: #7f7f7f;
	--dark: #333;
	--black: #111;

	--font-basic: 1.6rem;

	--gutter4: 0.2rem;
	--gutter6: 0.3rem;
	--gutter10: 0.5rem;
	--gutter20: 1.0rem;
	--gutter30: 1.5rem;
	--gutter40: 2.0rem;
	--gutter50: 2.5rem;
	--gutter100: 5.0rem;

	--form-ele-font: 1.6rem;
	--form-ele-font-sm: 1.4rem;
	--form-ele-font-lg: 2.0rem;
	--form-ele-height: 3.8rem;
	--form-ele-height-sm: 3.0rem;
	--form-ele-height-lg: 4.8rem;
	--form-ele-margin: 0.6rem;
	--form-ele-border-color: #e3e3e3;
	--form-ele-radius: 0.5rem;

	--border-color-darklight: #666;
	--border-color-dark: #333;
}

*, *::before,*::after{
	margin:0;
	padding:0;
	box-sizing: border-box;
	word-break: keep-all;
	word-wrap: break-word;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	height: 100%;
}


body {
	background-color: #1c1c1c;
	background-color: #1B1A20;
	background-color: #212529;
	height: 100%;
	font-size: 1.6rem;
	line-height:1.8;
	font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans KR',"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji,sans-serif";
	color: #969696;
	color: #adb5bd;
}

a {
	color: #969696;
	color: #adb5bd;
	text-decoration: none;
}

button {
	background-color: transparent;
	border: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans KR',"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji,sans-serif";
	cursor: pointer;
}



#wrap {
	
}

#header {
	height:2.4rem;
}

#container {
	padding:0 2.4rem;
}

[class*='h-tit'] {
	color: #fff;
	line-height: 1.45;
}

/* 타이틀 */
.h-tit1 {
	margin-bottom: 1.6rem;
	font-size: 3.0rem;
	font-weight: 700;
}

.h-tit2 {
	margin-top: 5.2rem;
	margin-bottom: 1.2rem;
	font-size: 2.2rem;
	font-weight: 400;
}

.h-tit3 {
	margin-top: 4.0rem;
	margin-bottom: 0.8rem;
	font-size: 1.8rem;
	font-weight: 400;
}

hr {
	height:1.2rem;
	margin:3.0rem -2.4rem;
	background-color:#1b1f22;
	border:none;
	border-top:1px solid rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(0,0,0,0.1);
}

/* ul, ol */
ul, ol {
	margin-left: 2.0rem;
}

* + ul,
* + ol {
	margin-top:1.6rem;
}

/* 단락 */
p {
	margin-bottom: 1.2rem;
	font-size:1.4rem;
}

* + p {
	margin-top:1.2rem;
}

p:last-child {
	margin-bottom:0;
}


/* 버튼 */
* + .btn-wrap {
	margin-top: 2.0rem;
}
.btn-wrap {
	display: flex;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
	padding: 0.8rem 1.5rem 0.9rem;
	border-radius: 0.3rem;
	background-color: #fff;
	font-size: 1.4rem;
	color: #111;
}

.btn + .btn {
	margin-left: 0.5rem;
}

/* conts */
.conts {
	padding: 2.4rem;
	background-color: #25252C;
	border-radius: 0.8rem;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.conts + .conts {
	margin-top:2.4rem;
}

.conts [class*='h-tit']:first-child {
	margin-top: 0;
}


/* collapse */
.collapse:not(.show) {
	display: none;
}

.collapsing {
	overflow: hidden;
	height: 0;
	transition: height .35s ease;
}


/* 아코디언 */
* + .accordion {
	margin-top:16px;
}

.accordion {
	border-top:1px solid var(--border-color-darklight);
	border-bottom:1px solid var(--border-color-darklight);
}

.accordion-item + .accordion-item {
	border-top:1px solid var(--border-color-dark);
}

.accordion-button {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1.6rem 0;
	color:var(--white);
	font-size: 1.6rem;
}

.accordion-button::after {
	content: '';
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	margin-left: auto;
	background: url('../img/caret-down-fill.svg') no-repeat center;
	transition: transform 0.2s ease-in-out;
}

.accordion-button.collapsed::after {
	transform:rotate(180deg);
}

.accordion-button.collapsed {
	color:var(--gray)
}

.accordion-body {
	padding: 1.6rem 0;
}

.accordion-body .h-tit2:first-child {
	margin-top:0;
}


/* highlight.js */
.highlight {
	margin:0 -2.4rem;
	padding:0 2.4rem;
	background-color:#282c34;
}

* + .highlight {
	margin-top: 16px;
}

.highlight code.hljs {
	font-family: Consolas, Monaco, monospace;
	font-size: 14px;
}
pre code.hljs::-webkit-scrollbar {height:8px;}
pre code.hljs::-webkit-scrollbar-thumb {background-color:#666;border-radius:10px;}
pre code.hljs::-webkit-scrollbar-track {background-color:transparent;}