/* 본문 바로가기 */
.skipNav-link {
    display: block;
    position: absolute;
    top: -300px;
    left: 0;
    z-index: 100;
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
}

.skipNav-link:focus,
.skipNav-link:hover {
    top: 0;
}


/* wrap */
#wrap {
    position: relative;
    z-index: 10;
}

.header-wallet {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    color: #35223f;
    font-size: 20px;
}

.header-wallet.login {
    font-size: 26px;
}

.header-sns {
    position: fixed;
    top: 160px;
    right: 50px;
    z-index: 20;
}

.header-sns li+li {
    margin-top: 25px;
}

.header-sns li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.header-sns li.discord a {
    background-image: url('../img/discord-white.svg');
}

.header-sns li.twitter a {
    height: 55px;
    background-image: url('../img/twitter-white.svg');
}

.header-sns li.telegram a {
    background-image: url('../img/telegram-white.svg');
}

.header-sns .sns-txt {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
}


/* nav */
.btn-nav-open {
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 100;
    width: 50px;
    height: 50px;
    padding-left: 14px;
    background-color: #ace2df;
    border-radius: 50%;
    transition: all 0.4s;
}

.btn-nav-open[data-pop] {
    opacity: 0;
}

.btn-nav-open span {
    position: relative;
    display: block;
    width: 15px;
    height: 5px;
    background-color: #41294f;
}

.btn-nav-open span::before,
.btn-nav-open span::after {
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: #41294f;
}

.btn-nav-open span::before {
    bottom: 9px;
}

.btn-nav-open span::after {
    top: 9px;
}


.menu-wrap {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 400px;
    height: 100%;
    background-color: rgba(43,24,53,0.88);
    transform: translateX(-100%);
    transition: all 0.4s;
    font-family: 'S-Core Dream', sans-serif;
}

.menu-wrap::-webkit-scrollbar {
	width: 4px;
}
.menu-wrap::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}

.pop-open .menu-wrap {
    transform: translateX(0);
}

.menu-dim {
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
}

#sideMenu {
    position: relative;
    z-index: 20;
}

#sideMenu.pop-open .menu-dim {
    display: block;
}

.menu-logo {
    margin-top: 110px;
    padding-left: 145px;
}

.menu-group {
    margin-top:40px;
    padding-left: 56px;
}

.menu-item {
    position: relative;
}

.menu-item + .menu-item {
    margin-top: 10px;
}

.menu-item::before,
.menu-item::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--menu);
}

.menu-item::before {
    top: 20px;
    left: -6px;
    width: 13px;
    height: 3px;
}

.menu-item::after {
    top: 15px;
    left: -1px;
    width: 3px;
    height: 13px;
}

.menu-link {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color:var(--menu);
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.5px;
}

.menu-link::before {
    content:'';
    display:block;
    position: absolute;
    top:-10px;
    left:0;
    width:1px;
    height:calc(100% + 15px);
    background-color: var(--menu);
}

.menu-item:first-child .menu-link:before {
    top:15px;
}

.menu-item:last-child .menu-link:before {
    top:-33px;
}

.menu-link-icon {
    position: relative;
    width: 16px;
    height: 16px;
    margin:4px 0 0 10px;
    pointer-events: none;
}

.menu-link-icon::before,
.menu-link-icon::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--menu);
    transform: translate(-50%, -50%);
}

.menu-link-icon::before {
    width: 100%;
    height: 4px;
}

.menu-item.on .menu-link-icon::after {
    width: 4px;
    height: 100%;
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}

.menu-depth2 {
    padding-left: 30px;
    border-left: 1px solid var(--menu);
    transition: height .35s ease;
}

.menu-item:last-child .menu-depth2 {
    border-left:none;
}

.menu-depth2-link {
    display: block;
    position: relative;
    padding-left: 18px;
    font-size: 25px;
    color:var(--menu);
}

.menu-depth2-link::before {
    content: '';
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    width: 9px;
    height: 2px;
    background-color: var(--menu);
}

#wrap~.menu-depth2 {
    display: block !important;
    position: absolute;
    top: -999999px;
    height: auto !important;
}

.btn-menu-closed {
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 49px;
    height: 49px;
    background: url('../img/btn-close.png') no-repeat;
}

.menu-sns {
    display: flex;
    margin-top: 60px;
    padding-left: 90px;
}

.menu-sns li + li {
    margin-left: 20px;
}

.menu-sns li a {
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.menu-sns li.discord a {
    background-image: url('../img/discord-mint.svg');
}

.menu-sns li.twitter a {
    height: 45px;
    background-image: url('../img/twitter-mint.svg');
}

.menu-sns li.telegram a {
    background-image: url('../img/telegram-mint.svg');
}

.menu-sns .sns-txt {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: #ace2df;
    text-align: center;
}

.menu-lang {
    display: flex;
    margin-top: 27px;
    padding-left: 93px;
}

.menu-lang-item + .menu-lang-item {
    margin-left: 30px;
}

.menu-lang-link {
    font-size: 24px;
    color:var(--menu);
    font-weight: 700;
}

.menu-lang-link.eng {
    color:#b188ba;
}

.menu-logout {
    margin:20px 0;
    padding-left: 88px;
}

.btn-logout {
    width: 118px;
    background-color: #b188ba;
    border-color:#b188ba;
    color:var(--primary);
}


/* 메인 */
.title {
    font-size: 92px;
    color: var(--primary);
    font-family: 'S-Core Dream', sans-serif;
    letter-spacing: -2px;
    line-height: 1.2;
}

.title2 {
    font-size: 46px;
    color: #f8e2bd;
}

.sub-txt {
    margin-top: 15px;
    font-size: 33px;
    color:#ffb9cd;
}

/* section01 */
#video {
    position: absolute;
    width: 100vw;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


/* sectioon02 */
.section02 {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
}

.tiket {
    display: flex;
    justify-content: center;
    margin-bottom:6.8%;
    padding-top: 163px;
    padding: 15% 15px 0;
}

.tiket-item {
    width: 200px;
}

.tiket-item+.tiket-item {
    margin-left: 10px;
}

.tiket-item.item2 {
    /* margin-left: 72px; */
    margin-left: 3.6363%;
}

.tiket-link {
    display: block;
    width: 100%;
    /* height: 471px; */
    height: 0;
    padding-top: 235.5%;
    background-repeat: no-repeat;
    background-size: cover;
}

.item1 .tiket-link {
    background-image: url('../img/tiket1.png');
}

.item2 .tiket-link {
    background-image: url('../img/tiket2.png');
}

.item3 .tiket-link {
    background-image: url('../img/tiket3.png');
}

.item4 .tiket-link {
    background-image: url('../img/tiket4.png');
}

.item5 .tiket-link {
    background-image: url('../img/tiket5.png');
}

.tiket-bg {
    flex-shrink: 0;
    /* margin-top: 74px; */
    margin-top: auto;
    padding-left: 10%;
}

.tiket-bg span {
    display: block;
    height: 0;
    margin:0 auto;
    padding-top:42.6618%;
    background: url('../img/tiket-bg.png') no-repeat bottom center / cover;}




/* section03 */
.section03 {
    background-color: #d4d4d4;
    padding: 145px 10% 170px;
}

.team {
    margin-top: 90px;
}

.team-title {
    font-size: 60px;
    color: var(--primary);
    font-family: 'S-Core Dream', sans-serif;
    letter-spacing: -3px;
}

.team-title span {
    color: #fff;
}

.team-text {
    margin-top: 35px;
    font-size: 22px;
    color: var(--primary);
    font-weight: 600;
}

.team-sns {
    margin-top: 25px;
}

.team-sns-link {
    display: flex;
    align-items: center;
    min-height: 36px;
    padding-left: 50px;
    font-size: 22px;
    color: var(--primary);
    font-family: 'S-Core Dream', sans-serif;
    font-weight: 700;
}

.team-sns-link.instagram {
    background: url('../img/icon-instagram.png') no-repeat left center;
}

.team-sns-link.twitter {
    background: url('../img/icon-twitter.png') no-repeat left center;
}

.team-item {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.team-item.item1,
.team-item.item2 {
    min-height: 469px;
}

.team-img {
    flex-shrink: 0;
}

.team-item.item2 {
    /* padding: 0 290px 0 500px; */
    padding: 0 15% 0 25%;
}

.team-item.item3,
.team-item.item4 {
    min-height: 269px;
}

.team-item.item1 .team-img,
.team-item.item3 .team-img {
   margin-right: 10%;
}

.team-item.item2 .team-img,
.team-item.item4 .team-img {
   margin-left: 10%;
}





/* section04 */
.section04 {
    background-color: var(--primary);
    padding: 145px 10% 170px;
}

.section04 .title {
    color: var(--secondary);
}

.section04 .title span {
    color: #fff2dc;
}

.section04 .sub-title {
    color: var(--secondary);
}

.service {
    margin-top: 110px;
}

.service-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
}

.service-item {
    position: relative;
    width: 362px;
    height: 684px;
    margin: 10px;
    padding: 70px 40px 0;
}

.service-item.item1 {
    padding-left: 65px;
    padding-right: 65px;
    background: url('../img/service1-bg.png') no-repeat;
    color: #000;
}

.service-item.item1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -18px;
    left: -47px;
    width: 425px;
    height: 379px;
    background: url('../img/service1-bg2.png') no-repeat;
}

.service-item.item2 {
    background: url('../img/service2-bg.png') no-repeat;
    color: #fff2dc;
}

.service-item.item2::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 8px;
    right: -28px;
    width: 380px;
    height: 428px;
    background: url('../img/service2-bg2.png') no-repeat;
}

.service-item.item3 {
    background: url('../img/service3-bg.png') no-repeat;
    color: #01596a;
}

.service-item.item4 {
    background: url('../img/service4-bg.png') no-repeat;
    color: #ffe2ac;
}

.service-item.item4::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -11px;
    left: 32px;
    width: 480px;
    height: 570px;
    background: url('../img/service4-bg2.png') no-repeat;
}

.service-info {
    margin-top: 100px;
}

.service-info .sub-txt {
    color:#fff;
}

.service-info .sub-txt span {
    color:#ffb9cd;
}

.service-info .sub-txt + .title2 {
    margin-top:75px;
}

.service-info .sub-txt2 {
    display: inline-flex;
    margin-top:5px;
    padding:5px 13px;
    background-color: #ffb9cd;
    font-size: 33px;
    color:var(--primary);
    font-weight: 600;
}

.service-info + .title {
    margin-top:170px;
}