/* 메인 */
main .docSlider-page::-webkit-scrollbar {
	width: 4px;
}

main .docSlider-page::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

main .docSlider-pager {
	display: none;
}


main .title {
    font-size: 92px;
    color: var(--primary);
    font-family: 'S-Core Dream', sans-serif;
    line-height: 1.2;
}

main .title2 {
    font-size: 46px;
    color: #f8e2bd;
}

main .sub-txt {
    margin-top: 15px;
    font-size: 33px;
    color: #ffb9cd;
}

main .section03,
main .section04,
main .section05,
main .section06 {
    padding: 7.5% 10% 9%;
}


/* section01 */
main #video {
    position: absolute;
    width: 100vw;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


/* sectioon02 */
main .section02 {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    padding: 8.3% 0 0 0;
}

main .tiket {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    padding-top: 163px;
    padding: 0 32px;
}

main .tiket-item {
    width: 200px;
}

main .tiket-item+.tiket-item {
    margin-left: 10px;
}

main .tiket-item.item2 {
    margin-left: 3.6363%;
}

main .tiket-link {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 235.5%;
    background-repeat: no-repeat;
    background-size: cover;
}

main .item1 .tiket-link {
    background-image: url('../img/tiket1.png');
}

main .item2 .tiket-link {
    background-image: url('../img/tiket2.png');
}

main .item3 .tiket-link {
    background-image: url('../img/tiket3.png');
}

main .item4 .tiket-link {
    background-image: url('../img/tiket4.png');
}

main .item5 .tiket-link {
    background-image: url('../img/tiket5.png');
}

main .tiket-bg {
    flex-shrink: 0;
    margin-top: auto;
    padding-left: 10%;
}

main .tiket-bg span {
    display: block;
    height: 0;
    margin: 0 auto;
    max-width: 1097px;
    padding-top: 27.15%;
    background: url('../img/tiket-bg.png') no-repeat bottom center / contain;
}


/* section03 */
main .section03 {
    background-color: #d4d4d4;
}

main .section03 .title {
    font-weight: 400;
}

main .section03 .title span {
    font-weight: 700;
}

main .team {
    margin-top: 6%;
}

main .team-title {
    font-size: 60px;
    color: var(--primary);
    font-family: 'S-Core Dream', sans-serif;
    line-height: 1.2;
}

main .team-title span {
    color: #fff2dc;
}

main .team-text {
    margin-top: 4%;
    font-size: 22px;
    color: var(--primary);
    font-weight: 600;
    letter-spacing: -1px;
}

main .team-sns {
    margin-top: 2.3%;
}

main .team-sns-link {
    display: flex;
    align-items: center;
    min-height: 36px;
    padding-left: 50px;
    font-size: 22px;
    color: var(--primary);
    font-family: 'S-Core Dream', sans-serif;
    font-weight: 700;
}

main .team-sns-link.instagram {
    background: url('../img/icon-instagram.png') no-repeat left center;
}

main .team-sns-link.twitter {
    background: url('../img/icon-twitter.png') no-repeat left center;
}

main .team-item {
    position: relative;
    display: flex;
    justify-content: space-between;
}

main .team-img {
    flex-shrink: 0;
}

main .team-item.item1 {
    justify-content: flex-start;
}

main .team-item.item2 {
    margin-top: -80px;
    padding: 0 0 0 30%;
}

main .team-item.item3 {
    justify-content: flex-start;
    margin-top: 45px;
}

main .team-item.item4 {
    margin-top: 65px;
}

main .team-item.item2,
main .team-item.item4 {
    flex-direction: row-reverse;
}

main .team-item.item1,
main .team-item.item2 {
    min-height: 469px;
}

main .team-item.item3,
main .team-item.item4 {
    min-height: 269px;
}

main .team-item.item1 .team-img img {
    width: 229px;
}

main .team-item.item2 .team-img img {
    width: 225px;
}

main .team-item.item3 .team-img img {
    width: 387px;
}

main .team-item.item4 .team-img img {
    width: 324px;
}

main .team-item.item1 .team-img,
main .team-item.item3 .team-img {
    margin-right: 4.5%;
}

main .team-item.item2 .team-img,
main .team-item.item4 .team-img {
    margin-left: 4.5%;
}


/* section04 */
main .section04 {
    background-color: var(--primary);
}

main .section04 .title {
    color: var(--secondary);
}

main .section04 .title span {
    color: #fff2dc;
}

main .section04 .sub-title {
    color: var(--secondary);
}

main .section04 .sub-txt br.mo {
    display: none;
}

main .service {
    margin: 7.2% auto 0;
}

main .service-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
}

main .service-item {
    position: relative;
    width: 362px;
    height: 684px;
    margin: 10px;
    padding: 57px 40px 0;
}

main .service-item.item1 {
    padding-left: 65px;
    padding-right: 65px;
    background: url('../img/service1-bg.png') no-repeat;
    color: #000;
}

main .service-item.item1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -18px;
    left: -47px;
    width: 100%;
    height: 0;
    padding-top: 89.1764%;
    background: url('../img/service1-bg2.png') no-repeat center / 100%;
}

main .service-item.item2 {
    background: url('../img/service2-bg.png') no-repeat;
    color: #fff2dc;
}

main .service-item.item2::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 8px;
    right: -28px;
    width: 380px;
    height: 428px;
    background: url('../img/service2-bg2.png') no-repeat;
}

main .service-item.item3 {
    background: url('../img/service3-bg.png') no-repeat;
    color: #01596a;
}

main .service-item.item4 {
    background: url('../img/service4-bg.png') no-repeat;
    color: #ffe2ac;
}

main .service-item.item4::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -11px;
    left: 32px;
    width: 480px;
    height: 570px;
    background: url('../img/service4-bg2.png') no-repeat;
}

main .service-info {
    margin-top: 6.5%;
}

main .service-info .sub-txt {
    color: #fff;
}

main .service-info .sub-txt span {
    color: #ffb9cd;
}

main .service-info .sub-txt+.title2 {
    margin-top: 5%;
}

main .service-info .sub-txt2 {
    display: inline-flex;
    margin-top: 5px;
    padding: 5px 13px;
    background-color: #ffb9cd;
    font-size: 33px;
    color: var(--primary);
    font-weight: 600;
}

main .service-info+.title {
    margin-top: 11.1%;
}

main .process-wrap {
    margin: 90px -5% 0;
}

main .process {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
}

main .process-item {
    position: relative;
    width: 310px;
    margin: 10px;
    padding: 55px 30px 40px;
    background-color: #fff;
    border-radius: 100px;
}

main .process-num {
    position: absolute;
    top: 50%;
    left: -9px;
    width: 75px;
    height: 50px;
    padding-top: 3px;
    background-color: #64b6c6;
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

main .process-img {
    width: 218px;
    margin: 0 auto;
}

main .process-title {
    margin-top: 80px;
    font-size: 29px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

main .process-info {
    margin-top: 10px;
}

main .process-info-item {
    font-size: 26px;
    color: #555;
    text-align: center;
}

main .process-info-item::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 2px;
    background-color: #555;
    vertical-align: 6px;
}

main .process-item.item2 .process-title {
    margin-left: -15px;
    margin-right: -15px;
    letter-spacing: -2.5px;
}


/* section05 */
main .section05 {
    background-color: #d4d4d4;
}

main .loadmap {
    margin-top: 55px;
    padding-left: 40px;
}

main .loadmap-item {
    position: relative;
    padding-left: 40px;
    font-size: 26px;
    color: var(--primary);
}

main .loadmap-item.soon,
main .loadmap-item.ing {
    padding-left: 80px;
}

main .loadmap-item+.loadmap-item {
    margin-top: 17px;
}

main .loadmap-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    height: 100px;
    font-size: 42px;
    color: #fff2dc;
    font-weight: 700;
    border-radius: 10px;
    font-family: 'S-Core Dream', sans-serif;
}

main .loadmap-item.check .icon {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 29px;
    height: 29px;
    border-radius: 5px;
    background: #767676 url('../img/check.svg') no-repeat center / 30px;
}

main .loadmap-item.soon .icon {
    position: absolute;
    top: 5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 29px;
    border-radius: 5px;
    background-color: #64b6c6;
    font-style: normal;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

main .loadmap-item.ing .icon {
    position: absolute;
    top: 5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 29px;
    border-radius: 5px;
    background-color: #ff6c6c;
    font-style: normal;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

main .loadmap-swiper {
    margin: 6% -10% 0;
    padding: 10px 0;
}

main .loadmap-swiper .swiper-slide {
    opacity: 0;
    z-index: 10;
    width: 770px !important;
    padding: 40px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main .loadmap-swiper .swiper-slide-prev,
main .loadmap-swiper .swiper-slide-next {
    opacity: 0.5;
}

main .loadmap-swiper .swiper-slide-active {
    opacity: 1;
    z-index: 20;
}

main .loadmap-swiper .swiper-slide-prev {
    transform: translateX(49%) !important;
}

main .loadmap-swiper .swiper-slide-next {
    transform: translateX(-49%) !important;
}

main .loadmap-swiper .swiper-button-next,
main .loadmap-swiper .swiper-button-prev {
    width: 28px;
    height: 48px;
}

main .loadmap-swiper .swiper-button-next::after,
main .loadmap-swiper .swiper-button-prev::after {
    display: none;
}

main .loadmap-swiper .swiper-button-prev {
    left: 50%;
    margin-left: -450px;
    background: url('../img/swiper-left.png') no-repeat;
}

main .loadmap-swiper .swiper-button-next {
    right: auto;
    left: 50%;
    margin-left: 422px;
    background: url('../img/swiper-right.png') no-repeat;
}


/* section06 */
main .section06 {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    padding-bottom: 9.4%;
}

main .section06 .title {
    color: #fff2dc;
}

main .story {
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

main .story-figure {
    margin: 0 6%;
    text-align: center;
}

main .story-figcaption {
    margin-top: 10px;
    font-size: 23px;
    color: #fff2dc;
    font-weight: 700;
}

main .stroy-txt {
    margin: 6% 0 15.5%;
    font-size: 33px;
    color: #fff2dc;
}


/* check */
.page-tit-point {
	position: absolute;
	top: 50%;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(-50%);
	width: 332px;
	height: 61px;
	background-color: #5142fd;
	border-radius: 5px;
	color: #fff;
}

.page-tit-point span {
	display: flex;
	align-items: center;
	padding-left: 20px;
	background: url('../img/page-tit-point.png') no-repeat left center / 15px;
	font-size: 20px;
}

.page-tit-point small {
	font-size: 15px;
}


/* history */
.total-point {
	position: absolute;
	top: 35px;
	right: 0;
	font-size: 20px;
	font-weight: 700;
}

.total-point span:first-child::after {
	margin-left: 5px;
	content: ':';
}

.total-point [class*='total-'] {
	display: flex;
	justify-content: space-between;
}

.total-acquisition {
	color: var(--red);
}

.total-use {
	color: var(--blue);
}


/* minigame */
.game {
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-board-wrap {
	width: 500px;
}

.game-number {
	font-size: 28px;
	font-weight: 900;
	text-align: center;
}

.game-number-control {
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-number-control input {
	margin: 0 10px;
	padding: 0;
	width: 50px;
	border: 1px solid #5c0071;
	text-align: center;
}

.game-number-control .btn-plus,
.game-number-control .btn-minus {
	position: relative;
	width: 21px;
	height: 21px;
}

.game-number-control .btn-plus::before,
.game-number-control .btn-plus::after,
.game-number-control .btn-minus::before {
	content: '';
	display: block;
	background-color: #5c0071;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.game-number-control .btn-plus::before,
.game-number-control .btn-minus::before {
	width: 100%;
	height: 4px;
}

.game-number-control .btn-plus::after {
	width: 4px;
	height: 100%;
}

.game-board {
	position: relative;
	margin-top: 33px;
}

.game-board::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -70px;
	left: 50%;
	width: 220px;
	height: 66px;
	background: url('../img/game-shadow-pc.png') no-repeat;
	transform: translateX(-50%);
}

.game-board-pin {
	position: absolute;
	top: -10px;
	left: 50%;
	z-index: 1;
	width: 49px;
	height: 58px;
	margin: 0 auto -50px;
	background: url('../img/game-img2.png') no-repeat center / 49px auto;
	transform: translateX(-50%);
}

.game-board-img {
	width: 500px;
	height: 500px;
	background: url('../img/game-img1.png') no-repeat center / 500px;
	transition: all 0.4s;
}

.game-btn-start {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 144px;
	height: 143px;
	background: url('../img/btn-game-start.png') no-repeat center / 144px auto;
	transform: translate(-50%, -50%);
}

.game-result-wrap {
	width: 280px;
	margin-top: 100px;
	margin-left: 12%;
}

.game-result-group {
	background-color: #5c0071;
	padding: 15px 10px;
	border-radius: 10px;
}

.game-result-title {
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	text-align: center;
}

.game-result-data li,
.game-result-nodata {
	background-color: #fff;
	padding: 7px 0;
	font-size: 24px;
	color: #000;
	border-radius: 5px;
	text-align: center;
}

.game-result-data li:nth-child(even) {
	background-color: #d4d4d4;
}

.game-result-data li+li {
	margin-top: 10px;
}

.btn-game-history {
	margin: 15px 0 0;
}

.btn-game-history .btn {
	width: 100%;
	margin: 0;
	border-radius: 10px;
}


/* 상세페이지 뉴스 */
.news .board-read-header {
	flex-direction: row;
	padding: 20px 50px;
}

.news .board-read-header .board-recom {
	display: flex;
	margin-right: 65px;
}

.news .board-read-header .board-recom>div {
	width: 70px;
	height: 70px;
	padding-top: 42px;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	text-align: center;
}

.news .board-read-header .board-recom>div+div {
	margin-left: 5px;
}

.news .board-read-header .board-recom .recom {
	background: #ff3f3f url('../img/recom.png') no-repeat center 14px / 20px 20px;
}

.news .board-read-header .board-recom .nonrecom {
	background: #a1a1a1 url('../img/nonrecom.png') no-repeat center 14px / 20px 20px;
}

.news .board-read-header .board-sub-title.writer {
	display: none;
}

.news .board-read-header .board-sec01,
.news .board-read-header .board-sec02 {
	display: flex;
}

.news .board-read-header .board-sec02 {
	align-items: center;
}

.news .board-read-footer {
	position: relative;
}

.news .board-read-footer .recom-wrap {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
}

.news .board-read-footer .recom-wrap button {
	display: block;
	width: 70px;
	height: 50px;
	border-radius: 5px;
}

.news .board-read-footer .recom-wrap button+button {
	margin-left: 5px;
}

.news .board-read-footer .recom-wrap .btn-recom {
	background: #ff3f3f url('../img/recom.png') no-repeat center / 20px 20px;
}

.news .board-read-footer .recom-wrap .btn-nonrecom {
	background: #a1a1a1 url('../img/nonrecom.png') no-repeat center / 20px 20px;
}


@media (max-width: 1600px) {
    /* section03 1600px */
    main .team-text {
        font-size: 17px;
    }


    /* section04 1600px */
    main .service-group {
        width: 80%;
        margin: 0 auto;
    }

    main .process {
        width: 80%;
        margin: 0 auto;
    }


    /* section05 1600px */
    main .loadmap {
        margin-top: 30px;
        padding-left: 20px;
    }

    main .loadmap-swiper .swiper-slide {
        width: 600px !important;
    }

    main .loadmap-swiper .swiper-button-prev {
        margin-left: -360px;
    }

    main .loadmap-swiper .swiper-button-next {
        margin-left: 322px;
    }
}


@media (max-width: 1280px) {
    /* section04 1280px */
    main .service-group {
        width: 100%;
    }
    

    /* section05 1280px */
    main .loadmap-swiper .swiper-slide {
        width: 450px !important;
    }

    main .loadmap-swiper .swiper-button-prev {
        margin-left: -290px;
    }

    main .loadmap-swiper .swiper-button-next {
        margin-left: 262px;
    }


    /* check 1280px */
	.page-tit-point {
		position: relative;
		transform: translate(0);
		margin-top: 20px;
	}


	/* history 1280px */
	.total-point {
		position: relative;
		top: 0;
		display: flex;
		margin: 20px -10px 0;
	}

	.total-point [class*='total-'] {
		flex: 1;
		margin: 0 10px;
		padding: 12px 20px;
		color: #fff;
		border-radius: 3px;
	}

	.total-acquisition {
		background-color: var(--red);
	}

	.total-use {
		background-color: var(--blue);
	}
}


@media (max-width: 980px) {
    /* 메인 */
    main .title {
        font-size: 62px;
    }

    main .title2 {
        font-size: 32px;
    }

    main .sub-txt {
        font-size: 24px;
    }

    main .title2+.sub-txt {
        font-size: 20px;
    }

    main .section02 {
        padding-top: 118px;
    }

    main .section03,
    main .section04,
    main .section05,
    main .section06 {
        padding: calc(7.5% + 68px) 32px 0 32px;
    }

    /* section02 980px */
    main .tiket-bg span {
        padding-top:42.6618%;
    }


    /* section03 980px */
    main .team-title {
        font-size: 40px;
    }

    main .team-text {
        font-size: 17px;
    }

    main .team-sns-link {
        min-height: 27px;
        font-size: 17px;
    }

    main .team-sns-link.instagram {
        padding-left: 35px;
        background-size: 27px;
    }

    main .team-sns-link.twitter {
        padding-left: 35px;
        background-size: 27px;
    }

    main .team-item.item1 {
        min-height: 336px;
    }

    main .team-item.item2 {
        min-height: 299px;
        padding: 0;
    }

    main .team-item.item2,
    main .team-item.item3,
    main .team-item.item4 {
        margin-top: 70px;
    }

    main .team-item.item1 .team-img img {
        width: 162px;
    }

    main .team-item.item2 .team-img img {
        width: 152px;
    }


    /* section04 980px */
    main .service-group {
        margin: -5px;
    }

    main .service-item {
        width: 312px;
        height: 141px;
        margin: 5px;
        padding: 24px 0 0 30px !important;
        font-size: 13px;
    }

    main .service-item br.pc {
        display: none;
    }

    main .service-item.item1 {
        background: url('../img/service1-bg-m.png') no-repeat center / 100%;
    }

    main .service-item.item1::after {
        bottom: -4px;
        left: 117px;
        width: 209px;
        height: 147px;
        padding-top: 0;
        background: url('../img/service1-bg2-m.png') no-repeat center / 100%;
    }

    main .service-item.item2 {
        background: url('../img/service2-bg-m.png') no-repeat center / 100%;
    }

    main .service-item.item2::after {
        bottom: 1px;
        right: 3px;
        width: 122px;
        height: 139px;
        background: url('../img/service2-bg2-m.png') no-repeat center / 100%;
    }

    main .service-item.item3 {
        background: url('../img/service3-bg-m.png') no-repeat center / 100%;
    }

    main .service-item.item4 {
        background: url('../img/service4-bg-m.png') no-repeat center / 100%;
    }

    main .service-item.item4::after {
        bottom: -4px;
        left: 212px;
        width: 109px;
        height: 152px;
        background: url('../img/service4-bg2-m.png') no-repeat center / 100%;
    }

    main .service-info .sub-txt2 {
        font-size: 17px;
    }

    main .process-wrap {
        margin: 60px 0 0;
    }

    main .process {
        width: 100%;
        margin: 0;
        padding-left: 4px;
    }

    main .process-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 190px;
        margin: 0;
        padding: 0 0 0 240px;
        border-radius: 80px;
    }

    main .process-item+.process-item {
        margin-top: 20px;
    }

    main .process-num {
        top: 30px;
        width: 50px;
        height: 34px;
        font-size: 17px;
    }

    main .process-img {
        position: absolute;
        top: 50%;
        left: 65px;
        transform: translateY(-50%);
        width: 140px;
    }

    main .process-title {
        margin: 0;
        font-size: 21px;
        text-align: left;
    }

    main .process-info-item {
        font-size: 18px;
        text-align: left;
    }

    main .process-info-item::before {
        width: 3px;
        height: 3px;
        border-radius: 50%;
    }

    main .process-item.item2 .process-title {
        margin-left: 0;
        margin-right: 0;
        letter-spacing: 0;
    }


    /* section05 980px */
    main .loadmap {
        margin-top: 20px;
        padding-left: 7px;
    }

    main .loadmap-item {
        padding-left: 28px;
        font-size: 18px;
    }

    main .loadmap-item+.loadmap-item {
        margin-top: 10px;
    }

    main .loadmap-title {
        height: 72px;
        font-size: 28px;
    }

    main .loadmap-item.check .icon {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    main .loadmap-item.ing,
    main .loadmap-item.soon {
        padding-left: 55px;
    }

    main .loadmap-item.ing .icon,
    main .loadmap-item.soon .icon {
        width: 46px;
        height: 20px;
        padding-bottom: 3px;
        border-radius: 3px;
        font-size: 13px;
    }

    main .loadmap-swiper {
        margin-left:0;
        margin-right:0;
    }

    main .loadmap-swiper .swiper-slide {
        padding: 25px;
    }

    main .loadmap-swiper .swiper-slide+.swiper-slide {
        margin-top: 13px;
    }

    main .loadmap-swiper .swiper-wrapper {
        display: block;
        height: auto;
    }

    main .loadmap-swiper .swiper-slide {
        opacity: 1;
        width: 100% !important;
    }

    main .loadmap-swiper .swiper-slide-prev,
    main .loadmap-swiper .swiper-slide-next {
        opacity: 1;
        transform: translateX(0) !important
    }

    main .loadmap-swiper .swiper-button-prev,
    main .loadmap-swiper .swiper-button-next {
        display: none;
    }


    /* section06 980px */
    main .section06 {
        display: flex;
        flex-direction: column;
    }

    main .story-figcaption {
        font-size: 14px;
    }

    main .stroy-txt {
        margin-bottom: 178px;
        font-size: 23px;
    }


    /* check 980px */
    .page-tit-point {
        /* justify-content: flex-end; */
        width: auto;
        height: auto;
        margin: 0 0 16px auto;
        background-color: transparent;
        color: var(--primary);
    }

    .page-tit-point span {
        background: url('../img/page-tit-point-m.png') no-repeat left center / 15px;
        font-size: 18px;
    }

    .page-tit-point small {
        font-size: 14px;
    }


    /* history 980px */
    .total-point {
        margin-top: 0;
    }

    .total-point [class*='total-'] {
        flex-direction: column;
        align-items: center;
        padding: 8px 15px;
        font-size: 15px;
    }

    .total-point span:first-child::after {
        display: none;
    }

    .total-point [class*='total-'] small {
        font-size: 12px;
    }


    /* minigame 980px */
    .game {
        flex-direction: column;
        padding: 0 15%;
    }

    .game-board-wrap {
        width: 100%;
    }

    .game-number {
        font-size: 20px;
    }

    .game-board-img {
        width: 100%;
        height: 0;
        padding-top: 100%;
        background-size: cover;
    }

    .game-result-title {
        font-size: 12px;
    }

    .game-result-data li,
    .game-result-nodata {
        font-size: 12px;
    }

    .game-board::after {
        bottom: -40px;
        width: 197px;
        height: 23px;
        background: url('../img/game-shadow-mo.png') no-repeat center / cover;
    }

    .game-result-wrap {
        width: 100%;
        margin: 70px 0 0;

    }

    .btn-game-history .btn {
        border-radius: 5px;
    }


    /* 상세페이지 뉴스 980px */
    .news .board-read-header {
        padding: 15px 0;
    }

    .news .board-read-header .board-sub-title.writer {
        position: relative;
        display: block;
        padding-left: 15px;
    }

    .news .board-read-header .board-sub-title.writer::before {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 7px;
        width: 1px;
        height: 10px;
        background-color: #555;
    }

    .news .board-read-header .board-sec01 {
        flex-direction: column-reverse;
    }

    .news .board-read-header .board-tit-wrap .board-sub-title {
        display: none;
    }

    .news .board-read-header .board-sec02 {
        flex-direction: column-reverse;
        align-items: flex-end;
        margin-top: -19px;
    }

    .news .board-read-header .board-hit-wrap .board-sub-title {
        display: inline;
    }

    .news .board-read-header .board-hit-wrap .board-sub-title::after {
        content: ' :'
    }

    .news .board-read-header .board-recom {
        margin-top: 8px;
        margin-right: 0;
    }

    .news .board-read-header .board-recom>div {
        width: 40px;
        height: 34px;
        padding-top: 17px;
        font-size: 10px;
    }

    .news .board-read-header .board-recom .recom,
    .news .board-read-header .board-recom .nonrecom {
        background-position: center 8px;
        background-size: 9px 9px;
    }

    .news .board-read-footer .recom-wrap {
        position: relative;
        justify-content: flex-end;
    }

    .news .board-read-footer .recom-wrap button {
        width: 40px;
        height: 26px;
        border-radius: 3px;
    }

    .news .board-read-footer .recom-wrap .btn-recom,
    .news .board-read-footer .recom-wrap .btn-nonrecom {
        background-size: 9px 9px;
        background-position: center center;
    }

    .news .board-read-footer .recom-wrap+.btn-wrap {
        margin-top: 20px;
    }
}


@media (max-width: 768px) {
    /* 메인 */
    main .title {
        font-size: 33px;
    }
 
    main .title2 {
        font-size: 17px;
    }

    main .sub-txt {
        margin-top: 5px;
        font-size: 14px;
    }

    main .title2+.sub-txt {
        font-size: 12px;
    }

    main .section03,
    main .section04,
    main .section05,
    main .section06 {
        padding: 118px 16px 50px;
    }


    /* section02 768px */
    main .tiket {
        padding: 0 16px;
    }

    main .tiket-item+.tiket-item {
        margin-left: 3px;
    }

    main .tiket-item.item2 {
        margin-left: 21px;
    }


    /* section03 768px */
    main .team-text {
        font-size: 12px;
    }

    main .team-text br.pc {
        display: none;
    }

    main .team-title {
        font-size: 21px;
    }

    main .team-sns-link {
        min-height: 18px;
        font-size: 12px;
    }

    main .team-sns-link.instagram {
        padding-left: 25px;
        background-size: 18px;
    }

    main .team-sns-link.twitter {
        padding-left: 25px;
        background-size: 18px;
    }

    main .team-item.item1 {
        min-height: 197px;
    }

    main .team-item.item2 {
        min-height: 155px;
    }

    main .team-item.item2,
    main .team-item.item3,
    main .team-item.item4 {
        margin-top: 45px;
    }

    main .team-item.item3,
    main .team-item.item4 {
        position: relative;
        display: block;
        min-height: 95px;
    }

    main .team-item.item3 .team-title {
        position: absolute;
        top: 40px;
        left: 160px;
    }

    main .team-item.item4 .team-title {
        position: absolute;
        top: 40px;
        left: 0;
        padding-right: 100px;
    }

    main .team-item .team-img img {
        display: block;
    }

    main .team-item.item4 .team-img {
        margin-left: 0;
        text-align: right;
    }

    main .team-item.item1 .team-img img {
        width: 95px;
    }

    main .team-item.item2 .team-img img {
        width: 79px;
    }

    main .team-item.item3 .team-img img {
        width: 136px;
    }

    main .team-item.item4 .team-img img {
        display: inline;
        width: 115px;
    }


    /* section04 768px */
    main .section04 .sub-txt br.mo {
        display: inline;
    }

    main .service-info .sub-txt2 {
        font-size: 12px;
    }

    main .service-info .sub-txt+.title2 {
        margin-top: 32px;
    }

    main .service-info+.title {
        margin-top: 94px;
    }

    main .process-wrap {
        margin-top: 32px;
    }

    main .process-item {
        min-height: 105px;
        padding-left: 150px;
    }

    main .process-item+.process-item {
        margin-top: 13px;
    }

    main .process-num {
        top: 20px;
        width: 29px;
        height: 20px;
        font-size: 11px;
    }

    main .process-img {
        left: 36px;
        width: 84px;
    }

    main .process-img img {
        width: 84px;
    }

    main .process-title {
        font-size: 13px;
    }

    main .process-info {
        margin-top: 5px;
    }

    main .process-info-item {
        font-size: 11px;
    }

    main .process-info-item::before {
        vertical-align: 2px;
    }


    /* section05 768px */
    main .loadmap-item {
        padding-left: 15px;
        font-size: 14px;
    }

    main .loadmap-title {
        height: 46px;
        font-size: 15px;
    }

    main .loadmap-item+.loadmap-item {
        margin-top: 5px;
    }

    main .loadmap-item.check .icon {
        width: 10px;
        height: 10px;
        background-size: 10px;
        border-radius: 3px;
    }

    main .loadmap-item.ing,
    main .loadmap-item.soon {
        padding-left: 38px;
    }

    main .loadmap-item.ing .icon,
    main .loadmap-item.soon .icon {
        padding-bottom: 0;
        padding-top: 1px;
        ;
        width: 34px;
        height: 14px;
        font-size: 11px;
    }

    main .loadmap-swiper {
        margin-top: 20px;
    }

    main .loadmap-swiper .swiper-slide {
        padding: 10px;
    }


    /* section06 768px */
    main .section06 {
        padding-bottom: 25px;
    }

    main .story-figcaption {
        font-size: 11px;
    }

    main .stroy-txt {
        margin-bottom: 106px;
        font-size: 14px;
    }


    /* minigame 768px */
    .game {
        padding: 0;
    }

    .game-btn-start {
        width: 87px;
        height: 87px;
        background-size: cover;
    }

    .game-number-control input {
        height: 38px;
        border-radius: 3px;
        border-color: #d8d8d8;
    }

    .game-board::after {
        width: 134px;
        height: 16px;
        background: url('../img/game-shadow-mo.png') no-repeat center / cover;
    }
}