/* 본문 바로가기 */
.skipNav-link {
    display: block;
    position: absolute;
    top: -300px;
    left: 0;
    z-index: 100;
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
}

.skipNav-link:focus,
.skipNav-link:hover {
    top: 0;
}


/* wrap */
#wrap {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* container */
#container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container-inner {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-wallet {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    color: #35223f;
    font-size: 20px;
}

.header-wallet.login {
    font-size: 26px;
}

.header-sns {
    position: fixed;
    top: 160px;
    right: 50px;
    z-index: 20;
}

.header-sns li+li {
    margin-top: 25px;
}

.header-sns li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.header-sns li.discord a {
    background-image: url('../img/discord-white.svg');
}

.header-sns li.twitter a {
    height: 60px;
    background-image: url('../img/twitter-white.svg');
}

.header-sns li.telegram a {
    background-image: url('../img/telegram-white.svg');
}

.header-sns .sns-txt {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
}


/* nav */
.header-login-m {
    display: none;
}

.btn-nav-open {
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 100;
    width: 50px;
    height: 50px;
    padding-left: 14px;
    background-color: #ace2df;
    border-radius: 50%;
    transition: all 0.4s;
}

.btn-nav-open[data-pop] {
    opacity: 0;
}

.btn-nav-open span {
    position: relative;
    display: block;
    width: 15px;
    height: 5px;
    background-color: #41294f;
}

.btn-nav-open span::before,
.btn-nav-open span::after {
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: #41294f;
}

.btn-nav-open span::before {
    bottom: 9px;
}

.btn-nav-open span::after {
    top: 9px;
}


.menu-wrap {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 400px;
    height: 100%;
    background-color: rgba(43, 24, 53, 0.88);
    transform: translateX(-100%);
    transition: all 0.4s;
    font-family: 'S-Core Dream', sans-serif;
}

.menu-wrap::-webkit-scrollbar {
    width: 4px;
}

.menu-wrap::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.pop-open .menu-wrap {
    transform: translateX(0);
}

.menu-dim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
}

#sideMenu {
    position: relative;
    z-index: 20;
}

#sideMenu.pop-open .menu-dim {
    display: block;
}

.menu-logo {
    margin-top: 110px;
    padding-left: 145px;
}

.menu-group {
    margin-top: 40px;
    padding-left: 56px;
}

.menu-item {
    position: relative;
}

.menu-item+.menu-item {
    margin-top: 10px;
}

.menu-item::before,
.menu-item::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--menu);
}

.menu-item::before {
    top: 20px;
    left: -6px;
    width: 13px;
    height: 3px;
}

.menu-item::after {
    top: 15px;
    left: -1px;
    width: 3px;
    height: 13px;
}

.menu-link {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: var(--menu);
    font-weight: 700;
    font-size: 30px;
}

.menu-link::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    width: 1px;
    height: calc(100% + 15px);
    background-color: var(--menu);
}

.menu-item:first-child .menu-link:before {
    top: 15px;
}

.menu-item:last-child .menu-link:before {
    top: -33px;
}

.menu-link-icon {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 4px 0 0 10px;
    pointer-events: none;
}

.menu-link-icon::before,
.menu-link-icon::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--menu);
    transform: translate(-50%, -50%);
}

.menu-link-icon::before {
    width: 100%;
    height: 4px;
}

.menu-item.on .menu-link-icon::after {
    width: 4px;
    height: 100%;
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}

.menu-depth2 {
    padding-left: 30px;
    border-left: 1px solid var(--menu);
    transition: height .35s ease;
}

.menu-item:last-child .menu-depth2 {
    border-left: none;
}

.menu-depth2-link {
    display: block;
    position: relative;
    padding-left: 18px;
    font-size: 25px;
    color: var(--menu);
}

.menu-depth2-link::before {
    content: '';
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    width: 9px;
    height: 2px;
    background-color: var(--menu);
}

#wrap~.menu-depth2 {
    display: block !important;
    position: absolute;
    top: -999999px;
    height: auto !important;
}

.btn-menu-closed {
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 49px;
    height: 49px;
    background: url('../img/btn-close.png') no-repeat;
}

.menu-sns {
    display: flex;
    margin-top: 60px;
    padding-left: 90px;
}

.menu-sns li+li {
    margin-left: 20px;
}

.menu-sns li a {
    position: relative;
    display: block;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.menu-sns li.discord a {
    background-image: url('../img/discord-mint.svg');
}

.menu-sns li.twitter a {
    height: 50px;
    background-image: url('../img/twitter-mint.svg');
}

.menu-sns li.telegram a {
    background-image: url('../img/telegram-mint.svg');
}

.menu-sns .sns-txt {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: #ace2df;
    text-align: center;
}

.menu-lang {
    display: flex;
    margin-top: 27px;
    padding-left: 93px;
}

.menu-lang-item+.menu-lang-item {
    margin-left: 30px;
}

.menu-lang-link {
    font-size: 24px;
    color: var(--menu);
    font-weight: 700;
}

.menu-lang-link.eng {
    color: #b188ba;
}

.menu-logout {
    margin: 20px 0;
    padding-left: 88px;
}

.btn-logout {
    width: 118px;
    background-color: #b188ba;
    border-color: #b188ba;
    color: var(--primary);
}


/* 메인 */
.title {
    font-size: 92px;
    color: var(--primary);
    font-family: 'S-Core Dream', sans-serif;
    line-height: 1.2;
}

.title2 {
    font-size: 46px;
    color: #f8e2bd;
}

.sub-txt {
    margin-top: 15px;
    font-size: 33px;
    color: #ffb9cd;
}

.section03,
.section04,
.section05,
.section06 {
    padding:7.5% 10% 9%;
}

/* section01 */
#video {
    position: absolute;
    width: 100vw;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


/* sectioon02 */
.section02 {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    padding: 8.3% 0 0 0;
}

.tiket {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    padding-top: 163px;
    padding: 0 32px;
}

.tiket-item {
    width: 200px;
}

.tiket-item+.tiket-item {
    margin-left: 10px;
}

.tiket-item.item2 {
    /* margin-left: 72px; */
    margin-left: 3.6363%;
}

.tiket-link {
    display: block;
    width: 100%;
    /* height: 471px; */
    height: 0;
    padding-top: 235.5%;
    background-repeat: no-repeat;
    background-size: cover;
}

.item1 .tiket-link {
    background-image: url('../img/tiket1.png');
}

.item2 .tiket-link {
    background-image: url('../img/tiket2.png');
}

.item3 .tiket-link {
    background-image: url('../img/tiket3.png');
}

.item4 .tiket-link {
    background-image: url('../img/tiket4.png');
}

.item5 .tiket-link {
    background-image: url('../img/tiket5.png');
}

.tiket-bg {
    flex-shrink: 0;
    /* margin-top: 74px; */
    margin-top: auto;
    padding-left: 10%;
}

.tiket-bg span {
    display: block;
    height: 0;
    margin: 0 auto;
    max-width: 1097px;
    padding-top: 42.6618%;
    background: url('../img/tiket-bg.png') no-repeat bottom center / 100%;
}




/* section03 */
.section03 {
    background-color: #d4d4d4;
}

.team {
    margin-top: 6%;
}

.team-title {
    font-size: 60px;
    color: var(--primary);
    font-family: 'S-Core Dream', sans-serif;
    line-height: 1.2;
}

.team-title span {
    color: #fff2dc;
}

.team-text {
    margin-top: 4%;
    font-size: 22px;
    color: var(--primary);
    font-weight: 600;
    letter-spacing: -1px;
}

.team-sns {
    margin-top: 2.3%;
}

.team-sns-link {
    display: flex;
    align-items: center;
    min-height: 36px;
    padding-left: 50px;
    font-size: 22px;
    color: var(--primary);
    font-family: 'S-Core Dream', sans-serif;
    font-weight: 700;
}

.team-sns-link.instagram {
    background: url('../img/icon-instagram.png') no-repeat left center;
}

.team-sns-link.twitter {
    background: url('../img/icon-twitter.png') no-repeat left center;
}

.team-item {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.team-img {
    flex-shrink: 0;
}

.team-item.item1 {
    justify-content: flex-start;
}

.team-item.item2 {
    margin-top: -80px;
    padding: 0 0 0 30%;
}

.team-item.item3 {
    justify-content: flex-start;
    margin-top: 45px;
}

.team-item.item4 {
    margin-top: 65px;
}

.team-item.item2,
.team-item.item4 {
    flex-direction: row-reverse;
}

.team-item.item1,
.team-item.item2 {
    min-height: 469px;
}

.team-item.item3,
.team-item.item4 {
    min-height: 269px;
}

.team-item.item1 .team-img img {
    width: 229px;
}

.team-item.item2 .team-img img {
    width: 225px;
}

.team-item.item3 .team-img img {
    width: 387px;
}

.team-item.item4 .team-img img {
    width: 324px;
}

.team-item.item1 .team-img,
.team-item.item3 .team-img {
    margin-right: 4.5%;
}

.team-item.item2 .team-img,
.team-item.item4 .team-img {
    margin-left: 4.5%;
}





/* section04 */
.section04 {
    background-color: var(--primary);
}

.section04 .title {
    color: var(--secondary);
}

.section04 .title span {
    color: #fff2dc;
}

.section04 .sub-title {
    color: var(--secondary);
}

.service {
    margin: 7.2% auto 0;
}

.service-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
}

.service-item {
    position: relative;
    width: 362px;
    height: 684px;
    margin: 10px;
    padding: 57px 40px 0;
}

.service-item br.mo {
    display: none;
}

.service-item.item1 {
    padding-left: 65px;
    padding-right: 65px;
    background: url('../img/service1-bg.png') no-repeat;
    color: #000;
}

.service-item.item1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -18px;
    left: -47px;
    width: 100%;
    height: 0;
    /* width: 425px;
    height: 379px; */
    padding-top: 89.1764%;
    background: url('../img/service1-bg2.png') no-repeat center / 100%;
}

.service-item.item2 {
    background: url('../img/service2-bg.png') no-repeat;
    color: #fff2dc;
}

.service-item.item2::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 8px;
    right: -28px;
    width: 380px;
    height: 428px;
    background: url('../img/service2-bg2.png') no-repeat;
}

.service-item.item3 {
    background: url('../img/service3-bg.png') no-repeat;
    color: #01596a;
}

.service-item.item4 {
    background: url('../img/service4-bg.png') no-repeat;
    color: #ffe2ac;
}

.service-item.item4::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -11px;
    left: 32px;
    width: 480px;
    height: 570px;
    background: url('../img/service4-bg2.png') no-repeat;
}

.service-info {
    margin-top: 6.5%;
}

.service-info .sub-txt {
    color: #fff;
}

.service-info .sub-txt span {
    color: #ffb9cd;
}

.service-info .sub-txt+.title2 {
    margin-top: 5%;
}

.service-info .sub-txt2 {
    display: inline-flex;
    margin-top: 5px;
    padding: 5px 13px;
    background-color: #ffb9cd;
    font-size: 33px;
    color: var(--primary);
    font-weight: 600;
}

.service-info+.title {
    margin-top: 11.1%;
}

.process-wrap {
    margin: 90px -5% 0;
}

.process {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
}

.process-item {
    position: relative;

    width: 310px;
    margin: 10px;
    padding: 55px 30px 40px;
    background-color: #fff;
    border-radius: 100px;
}

.process-num {
    position: absolute;
    top: 50%;
    left: -9px;
    width: 75px;
    height: 50px;
    padding-top: 3px;
    background-color: #64b6c6;
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.process-img {
    width: 218px;
    margin: 0 auto;
}

.process-title {
    margin-top: 80px;
    font-size: 29px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

.process-info {
    margin-top: 10px;
}

.process-info-item {
    font-size: 26px;
    color: #555;
    text-align: center;
}

.process-info-item::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 2px;
    background-color: #555;
    vertical-align: 6px;
}

/* section05 */
.section05 {
    background-color: #d4d4d4;
}

.loadmap-swiper {
    margin: 90px -10% 0;
    padding: 10px 0;
}

.loadmap-swiper .swiper-slide {
    opacity: 0;
    z-index: 10;
    width: 770px !important;
    padding: 40px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loadmap-swiper .swiper-slide-prev,
.loadmap-swiper .swiper-slide-next {
    opacity: 0.5;
}

.loadmap-swiper .swiper-slide-active {
    opacity: 1;
    z-index: 20;
}

.loadmap-swiper .swiper-slide-prev {
    transform: translateX(49%) !important;
}

.loadmap-swiper .swiper-slide-next {
    transform: translateX(-49%) !important;
}


.loadmap-swiper .swiper-button-next,
.loadmap-swiper .swiper-button-prev {
    width: 28px;
    height: 48px;
}

.loadmap-swiper .swiper-button-next::after,
.loadmap-swiper .swiper-button-prev::after {
    display: none;
}

.loadmap-swiper .swiper-button-prev {
    left: 50%;
    margin-left: -450px;
    background: url('../img/swiper-left.png') no-repeat;
}

.loadmap-swiper .swiper-button-next {
    right: auto;
    left: 50%;
    margin-left: 422px;
    background: url('../img/swiper-right.png') no-repeat;

}




.loadmap {
    margin-top: 55px;
    padding-left: 40px;
}

.loadmap-item {
    position: relative;
    padding-left: 40px;
    font-size: 26px;
    color: var(--primary);
}

.loadmap-item.soon,
.loadmap-item.ing {
    padding-left: 80px;
}

.loadmap-item+.loadmap-item {
    margin-top: 17px;
}

.loadmap-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    height: 100px;
    font-size: 42px;
    color: #fff2dc;
    font-weight: 700;
    border-radius: 10px;
    font-family: 'S-Core Dream', sans-serif;
}

.loadmap-item.check .icon {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 29px;
    height: 29px;
    border-radius: 5px;
    background: #767676 url('../img/check.svg') no-repeat center / 30px;
}

.loadmap-item.soon .icon {
    position: absolute;
    top: 5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 29px;
    border-radius: 5px;
    background-color: #64b6c6;
    font-style: normal;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.loadmap-item.ing .icon {
    position: absolute;
    top: 5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 29px;
    border-radius: 5px;
    background-color: #ff6c6c;
    font-style: normal;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

/* section06 */
.section06 {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    padding-bottom:9.4%;
}

.section06 .title {
    color: #fff2dc;
}

.story {
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.story-figure {
    margin: 0 6%;
    text-align: center;
}

.story-figcaption {
    margin-top: 10px;
    font-size: 23px;
    color: #fff2dc;
    font-weight: 700;
}

.stroy-txt {
    margin: 6% 0 15.5%;
    font-size: 33px;
    color: #fff2dc;
}



#footer {
    margin-top: auto;
    text-align: center;
    color: #fff;
}


.footer-logo {
    text-align: center;
}

.footer-logo img {
    width: 307px;
}

.footer-copyright {
    font-size: 22px;
}

@media (max-width: 1600px) {

    /* section03 */
    .team-text {
        font-size: 17px;
    }

    /* section04 */
    .service-group {
        width: 80%;
        margin: 0 auto;
    }

    .process {
        width: 80%;
        margin: 0 auto;
    }

    /* section05 */
    .loadmap-swiper .swiper-slide {
        width: 600px !important;
    }

    .loadmap {
        margin-top: 30px;
        padding-left: 20px;
    }

    .loadmap-swiper .swiper-button-prev {
        margin-left: -360px;
    }

    .loadmap-swiper .swiper-button-next {
        margin-left: 322px;
    }
}

@media (max-width: 1280px) {
    /* header */
    #header .h-tit1 {

    }

    /* section04 */
    .service-group {
        width: 100%;
    }

    /* section05 */
    .loadmap-swiper .swiper-slide {
        width: 450px !important;
    }

}

@media (max-width: 980px) {
    /* header */
    #header {
		position: fixed;
		top:0;
		left:0;
		right:0;
		height: 68px;
		z-index: 100;
		background-color: #fff;
	}
    .header-sns,
	.header-wallet {
		display: none;
	}
    .btn-nav-open {
        position: absolute;
        top:50%;
        left:18px;
        width: 24px;
        height:24px;
        padding-left:0;
        background-color: transparent;
        transform: translateY(-50%);
    }

    .btn-nav-open span {
        width: 100%;
        height: 3px;
        background-color: #000;
    }
    .btn-nav-open span::after {
        top: 11px;
    }

    .btn-nav-open span::before {
        bottom:11px;
    }

    .btn-nav-open span::before,
    .btn-nav-open span::after {
        width: 100%;
        height: 3px;;
        background-color: #000;
    }


    /* nav */
    .menu-wrap {
        width: 300px;
        padding-top:67px;
    }

    .btn-menu-closed {
        top:18px;
        left:16px;
        width: 30px;
        height: 30px;
        background-size: 100%;
    }

    .menu-logo {
        display: none;
    }

    .header-login-m {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 10px 18px 10px 10px;
    }

    .login-img {
        width: 67px;
    }
    .login-info {
        margin-left: 12px;
        font-size: 16px;
        color:#5c0071;
    }

    .login-point {
        margin-top: 5px;
        padding:5px 10px;
        background-color: #5c0071;
        border-radius: 5px;
        color:#fff200;
        font-size: 14px;
    }

    .login-point span {
        font-size: 11px;
    }

    .header-login-m + .menu-group {
        margin-top: 27px;
    }

    .menu-group {
        padding-left: 25px;
    }

    .menu-link {
        font-size: 21px;
    }


    .menu-depth2-link {
        font-size: 18px;
    }


    .menu-item::before {
        top:15px;
        left:-4px;
        width: 9px;
    }
    .menu-item::after {
        top:12px;
        height: 9px;
    }

    .menu-link-icon {
        width: 8px;
        height: 8px;
    }

    .menu-link-icon::before,
    .menu-link-icon::after {
        height: 2px;
    }
    .menu-item.on .menu-link-icon::after {
        width: 2px;
    }

    .menu-sns {
        margin-top: 40px;
        padding-left: 48px;
    }

    .menu-sns li a {
        width: 30px;
        height:30px;
    }


    .menu-lang {
        padding-left: 48px;
    }

    .menu-lang-link {
        font-size: 17px;
    }

    .menu-logout {
        margin:15px 0;
        padding-left: 45px;
    }

    .btn-logout {
        width: 84px;
        height: 24px;
        font-size: 11px;
    }



    /* 메인 */
    /* .docSlider {
		top: 68px;
		height: calc(100vh - 68px);
	}
	.docSlider-inner {
		top: 68px;
	} */

    .title {
        font-size: 62px;
    }

    .title2 {
        font-size: 32px;
    }

    .sub-txt {
        font-size: 24px;
    }

    .title2+.sub-txt {
        font-size: 20px;
    }

    .section02 {
        padding-top:118px;
    }

    .section03,
    .section04,
    .section05,
    .section06 {
        padding-left: 32px;
        padding-right: 32px;
    }

    /* section02 */

    /* section03 */


    .team-text {
        font-size: 17px;
    }

    .team-item.item1 {
        min-height: 336px;
    }

    .team-item.item2 {
        min-height: 299px;
    }

    .team-item.item2,
    .team-item.item3,
    .team-item.item4 {
        margin-top: 70px;
    }

    .team-item.item1 .team-img img {
        width: 162px;
    }

    .team-item.item2 .team-img img {
        width: 152px;
    }

    .team-title {
        font-size: 40px;
    }

    .team-item.item2 {
        padding: 0;
    }

    .team-sns-link {
        min-height: 27px;
        font-size: 17px;
    }

    .team-sns-link.instagram {
        padding-left: 35px;
        background-size: 27px;
    }

    .team-sns-link.twitter {
        padding-left: 35px;
        background-size: 27px;
    }

    /* section04 */

    .service-info .sub-txt2 {
        font-size: 17px;
    }

    .service-group {
        margin: -5px;
    }
    .service-item {
        width:312px;
        height:141px;
        margin:5px;
        padding:24px 0 0 30px !important;
        font-size: 13px;
    }
    .service-item br.pc {
        display: none;
    }
    .service-item br.mo {
        display: inline;
    }
    .service-item.item1 {
        background: url('../img/service1-bg-m.png') no-repeat center / 100%;
    }
    .service-item.item1::after {
        bottom:-4px;
        left:117px;
        width: 209px;
        height:147px;
        padding-top:0;
        background: url('../img/service1-bg2-m.png') no-repeat center / 100%;
    }
    .service-item.item2 {
        background: url('../img/service2-bg-m.png') no-repeat center / 100%;
    }
    .service-item.item2::after {
        bottom:1px;
        right:3px;
        width: 122px;
        height:139px;
        background: url('../img/service2-bg2-m.png') no-repeat center / 100%;
    }
    .service-item.item3 {
        background: url('../img/service3-bg-m.png') no-repeat center / 100%;
    }
    .service-item.item4 {
        background: url('../img/service4-bg-m.png') no-repeat center / 100%;
    }
    .service-item.item4::after {
        bottom:-4px;
        left:212px;
        width: 109px;
        height:152px;
        background: url('../img/service4-bg2-m.png') no-repeat center / 100%;
    }












    .process-wrap {
        margin: 60px 0 0;
    }

    .process {
        width: 100%;
        margin: 0;
        padding-left: 4px;
    }

    .process-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 190px;
        margin: 0;
        padding: 0 0 0 240px;
        border-radius: 80px;
    }

    .process-item+.process-item {
        margin-top: 20px;
    }

    .process-img {
        position: absolute;
        top: 50%;
        left: 65px;
        transform: translateY(-50%);
        width: 140px;
    }

    .process-num {
        top: 30px;
        width: 50px;
        height: 34px;
        font-size: 17px;
    }

    .process-title {
        margin: 0;
        font-size: 21px;
        text-align: left;
    }

    .process-info-item {
        font-size: 18px;
        text-align: left;
    }

    .process-info-item::before {
        width: 3px;
        height: 3px;
        border-radius: 50%;
    }






    /* section05 */

    .loadmap {
        margin-top: 20px;
        padding-left: 7px;
    }

    .loadmap-title {
        height: 72px;
        font-size: 28px;
    }

    .loadmap-item {
        padding-left: 28px;
        font-size: 18px;
    }

    .loadmap-item+.loadmap-item {
        margin-top: 10px;
    }

    .loadmap-item.check .icon {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .loadmap-item.ing,
    .loadmap-item.soon {
        padding-left: 55px;
    }

    .loadmap-item.ing .icon,
    .loadmap-item.soon .icon {
        width: 46px;
        height: 20px;
        padding-bottom: 3px;
        border-radius: 3px;
        font-size: 13px;
    }



    .loadmap-swiper {
        margin: 60px 0 0;
    }

    .loadmap-swiper .swiper-slide {
        padding: 25px;
    }

    .loadmap-swiper .swiper-slide+.swiper-slide {
        margin-top: 13px;
    }

    .loadmap-swiper .swiper-wrapper {
        display: block;
        height: auto;
    }

    .loadmap-swiper .swiper-slide {
        opacity: 1;
        width: 100% !important;
    }

    .loadmap-swiper .swiper-slide-prev,
    .loadmap-swiper .swiper-slide-next {
        opacity: 1;
        transform: translateX(0) !important
    }

    .loadmap-swiper .swiper-button-prev,
    .loadmap-swiper .swiper-button-next {
        display: none;
    }

    /* section06 */
    .section06 {
        display: flex;
        flex-direction: column;
    }
    .story-figcaption {
        font-size: 14px;
    }
    .stroy-txt {
        margin-bottom: 178px;
        font-size: 23px;
    }

    .footer-logo img {
        width: 205px;
    }

    .footer-copyright {
        font-size: 16px;
    }


}


@media (max-width: 768px) {
    .title {
        font-size: 33px;
    }

    .title2 {
        font-size: 17px;
    }

    .sub-txt {
        margin-top: 5px;
        font-size: 14px;
    }

    .title2+.sub-txt {
        font-size: 12px;
    }

    .section03,
    .section04,
    .section05,
    .section06 {
        padding:118px 16px 50px;
    }

    /* section02 */
    .tiket {
        padding: 0 16px;
    }

    /* section03 */

    .team-item.item3,
    .team-item.item4 {
        position: relative;
        display: block;
        min-height: 95px;
    }

    .team-item.item3 .team-title {
        position: absolute;
        top: 40px;
        left: 160px;
    }

    .team-item.item4 .team-title {
        position: absolute;
        top: 40px;
        left: 0;
        padding-right: 100px;
    }

    .team-item .team-img img {
        display: block;
    }

    .team-item.item4 .team-img {
        margin-left: 0;
        text-align: right;
    }

    .team-item.item4 .team-img img {
        display: inline;
    }

    .team-item.item1 .team-img img {
        width: 95px;
    }

    .team-item.item2 .team-img img {
        width: 79px;
    }

    .team-item.item3 .team-img img {
        width: 136px;
    }

    .team-item.item4 .team-img img {
        width: 115px;
    }

    .team-text {
        font-size: 12px;
    }

    .team-title {
        font-size: 21px;
    }

    .team-item.item1 {
        min-height: 197px;
    }

    .team-item.item2 {
        min-height: 155px;
    }

    .team-item.item2,
    .team-item.item3,
    .team-item.item4 {
        margin-top: 45px;
    }

    .team-sns-link {
        min-height: 18px;
        font-size: 12px;
    }

    .team-sns-link.instagram {
        padding-left: 25px;
        background-size: 18px;
    }

    .team-sns-link.twitter {
        padding-left: 25px;
        background-size: 18px;
    }

    /* section04 */
    .service-info .sub-txt2 {
        font-size: 12px;
    }

    .service-info .sub-txt+.title2 {
        margin-top: 32px;
    }

    .service-info+.title {
        margin-top: 94px;
    }


















    .process-wrap {
        margin-top: 32px;
    }


    .process-item {
        min-height: 105px;
        padding-left: 150px;
    }

    .process-item+.process-item {
        margin-top: 13px;
    }

    .process-num {
        top: 20px;
        width: 29px;
        height: 20px;
        font-size: 11px;
    }

    .process-title {
        font-size: 13px;
    }

    .process-info {
        margin-top: 5px;
    }
    .process-info-item {
        font-size: 11px;
    }

    .process-info-item::before {
        vertical-align: 2px;
    }
    

    .process-img {
        left: 36px;
        width: 84px;
    }

    .process-img img {
        width: 84px;
    }

    /* section05 */

    .loadmap-swiper {
        margin: 30px 0 0;
    }

    .loadmap-swiper .swiper-slide {
        padding: 10px;
    }

    .loadmap-title {
        height: 46px;
        font-size: 15px;
    }

    .loadmap-item {
        padding-left: 15px;
        font-size: 14px;
    }

    .loadmap-item+.loadmap-item {
        margin-top: 5px;
    }

    .loadmap-item.check .icon {
        width: 10px;
        height: 10px;
        background-size: 10px;
        border-radius: 3px;
    }

    .loadmap-item.ing,
    .loadmap-item.soon {
        padding-left: 38px;
    }

    .loadmap-item.ing .icon,
    .loadmap-item.soon .icon {
        padding-bottom:0;
        padding-top: 1px;;
        width: 34px;
        height: 14px;
        font-size:11px;
    }



    /* section06 */
    .section06 {
        padding-bottom:25px;
    }

    .story-figcaption {
        font-size: 11px;
    }

    .stroy-txt {
        margin-bottom:106px;
        font-size: 14px;
    }


    .footer-logo img {
        width: 103px;
    }

 .footer-copyright {
    font-size: 11px;
 }

}