@media (max-width: 980px) {
    :root {
        --font-basic: 1.6rem;
        --form-ele-height: 3.8rem;
        --form-ele-font: 1.2rem;
        --form-ele-font-lg: 1.4rem;
        --form-ele-height-lg: 4.0rem;
    }

    .m-hide {
        display: none !important;
    }

    /* 타이틀 */
    .h-tit1 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 68px;
        background-color: #fff;
        border-bottom: 1px solid #000;
        font-size: 24px;
    }

    /* 버튼 */
    .btn-wrap .btn {
        flex: 1;
        min-width: auto;
    }

    .btn.btn-lg {
        border-radius: 5px;
    }

    /* header 980px */
    #header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 68px;
        z-index: 100;
        background-color: #fff;
    }

    .header-sns,
    .header-wallet {
        display: none;
    }


    /* nav 980px */
    .btn-nav-open {
        position: absolute;
        top: 50%;
        left: 18px;
        width: 24px;
        height: 24px;
        padding-left: 0;
        background-color: transparent;
        transform: translateY(-50%);
    }

    .btn-nav-open span {
        width: 100%;
        height: 3px;
        background-color: #000;
    }

    .btn-nav-open span::after {
        top: 11px;
    }

    .btn-nav-open span::before {
        bottom: 11px;
    }

    .btn-nav-open span::before,
    .btn-nav-open span::after {
        width: 100%;
        height: 3px;
        background-color: #000;
    }

    .menu-wrap {
        width: 300px;
        padding-top: 67px;
    }

    .menu-logo {
        display: none;
    }

    .header-login-m {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 10px 18px 10px 10px;
    }

    .login-img {
        width: 67px;
    }

    .login-info {
        margin-left: 12px;
        font-size: 16px;
        color: #5c0071;
    }

    .login-point {
        margin-top: 5px;
        padding: 5px 10px;
        background-color: #5c0071;
        border-radius: 5px;
        color: #fff200;
        font-size: 14px;
    }

    .login-point span {
        font-size: 11px;
    }

    .header-login-m+.menu-group {
        margin-top: 27px;
    }

    .menu-group {
        padding-left: 25px;
    }

    .menu-link {
        font-size: 21px;
    }

    .menu-depth2-link {
        padding-left: 14px;
        font-size: 18px;
    }

    .menu-depth2-link::before {
        top: 13px;
        width: 6px;
        height: 1px;
    }

    .menu-item::before {
        top: 15px;
        left: -4px;
        width: 9px;
    }

    .menu-item::after {
        top: 12px;
        height: 9px;
    }

    .menu-link-icon {
        width: 8px;
        height: 8px;
    }

    .menu-link-icon::before,
    .menu-link-icon::after {
        height: 2px;
    }

    .menu-item.on .menu-link-icon::after {
        width: 2px;
    }

    .menu-sns {
        margin-top: 40px;
        padding-left: 48px;
    }

    .menu-sns li a {
        width: 30px;
        height: 30px;
    }

    .menu-lang {
        padding-left: 48px;
    }

    .menu-lang-link {
        font-size: 17px;
    }

    .menu-logout {
        margin: 15px 0;
        padding-left: 45px;
    }

    .menu-logout .btn-logout {
        flex: none !important;
        width: 84px;
        height: 24px;
        font-size: 11px;
    }

    .btn-menu-closed {
        top: 18px;
        left: 16px;
        width: 30px;
        height: 30px;
        background-size: 100%;
    }

    /* 폼 980px */
    .form>.form-ele+.form-ele,
    .form>.form-ele+.row,
    .form>.row+.form-ele {
        margin-top: 16px;
    }

    .form-ele {
        flex-direction: column;
    }

    .form-ele .form-label {
        margin-bottom: 5px;
        padding-top: 0;
        width: 100%;
    }

    .input-wrap.side-btn .btn {
        margin-left: 3px;
        background-color: #d8d8d8;
        border-color: #d8d8d8;
        color: #000;
    }

    .input-wrap.qty .btn-plus::before,
    .input-wrap.qty .btn-plus::after,
    .input-wrap.qty .btn-minus::before {
        background-color: #5c0071;
    }

    /* pager 980px */
    #pager {
        margin-top: 25px;
    }

    #pager [class*='page-'] {
        display: none;
    }

    #pager .btn-wrap {
        display: grid;
        width: 100%;
        margin: 0;
    }

    #pager .btn-wrap .btn {
        display: flex;
        width: 100%;
        margin: 0;
    }

    #page-header {
        margin-bottom: 0;
    }

    .page-tit,
    .page-header-txt {
        display: none;
    }

    /* 팝업 980px */
    .pop-wrap {
        top: 68px;
        background-color: transparent;
    }

    .pop-inner {
        overflow: auto;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 16px;
        border-radius: 0;
        background-color: #fff;
    }

    /* 팝업 폼 980px */
    .pop-form .form .form-ele input {
        background-color: #fff;
        color: #000;
        border-color: #d8d8d8;
    }

    .pop-form .form .form-ele select {
        background-color: #fff;
        border-color:#d8d8d8;
        color:#000;
    }

    .pop-form .form-ele .form-label {
        width: 100%;
        color: #000;
        font-size: 12px;
    }

    .pop-form .form {
        padding-right: 0;
    }

    .pop-form .input-wrap.zip-code {
        width: 100%;
    }

    .pop-form .form .text-wrap {
        color: #000;
        font-size: 14px;
    }

    .pop-form .pop-footer .btn {
        height: 40px;
        border-radius: 3px;
    }

    .pop-form .pop-footer .btn-done {
        background-color: var(--primary);
        border-color: var(--primary);
    }

    .pop-form .pop-footer .btn-close {
        background-color: var(--primary);
        border-color: var(--primary);
        color: var(--primary);
    }

    .pop-form .pop-footer .btn-close {
        border-color: #5c0071;
        background-color: #fff;
    }

    #popupApply .pop-header,
    #popupApply2 .pop-header,
    #popNews .pop-header {
        display: none;
    }

    

    /* footer 980px */
    .footer-logo img {
        width: 205px;
    }

    .footer-copyright {
        font-size: 16px;
    }

    /* container 980px */
    .container-inner {
        margin-top: 68px;
        padding: 20px 16px 50px;
    }

    .sub #wrap {
        background-color: #fff;
    }

    .sub #footer {
        display: none;
        padding: 0 16px;
    }

    /* list01 980px */
    .list01 .list-group {
        margin: -10px;
    }

    .list01 .list-item {
        flex: 1 1 calc(50% - 20px);
        margin: 10px;
        padding: 0;
        max-width: 100%;
        background-color: transparent;
    }

    .list01 .list-img img {
        max-width: 100%;
    }

    .list01 .list-img {
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: 3px;
    }

    .list01 .list-img img {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
    }

    .list01 .list-num {
        margin-top: 14px;
        font-size: 18px;
        color: var(--primary);
    }

    .list01 .list-num .grade {
        margin-left: 8px;
        width: 60px;
        height: 23px;
    }

    .list01 .list-period {
        margin-top: 8px;
        color: #000;
    }

    .list01 .list-period::before {
        display: none;
    }

    .list01 .list-period-title {
        padding-left: 19px;
        background: url('../img/icon-period-m.png') no-repeat left center / 14px auto;
        color: #767676;
        font-size: 14px;
    }

    .list01 .list-period-date {
        font-size: 14px;
    }

    .list01 .list-point {
        padding: 7px 0;
        color: #fff;
        font-size: 13px;
        border-radius: 3px;
    }

    .list01 .list-point span {
        font-size: 11px;
    }

    .list01 .list-point::before {
        content: '';
        display: inline-block;
        width: 11px;
        height: 11px;
        background: url('../img/icon-point.png') no-repeat center / 11px 11px;
    }


    /* list02 980px */
    .list02 .list-group {
        margin: -10px;
    }

    .list02 .list-item {
        flex: 1 1 calc(50% - 20px);
        margin: 10px;
        padding: 0;
        max-width: 100%;
        background-color: transparent;
    }

    .list02 .list-img img {
        max-width: 100%;
    }

    .list02 .list-img {
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: 3px;
    }

    .list02 .list-img img {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
    }

    .list02 .list-title {
        position: relative;
        bottom: auto;
        margin-top: 10px;
        padding: 0;
        background-color: transparent;
        -webkit-line-clamp: 1;
        color: #5c0071;
    }

    .list02 .list-point {
        position: relative;
        margin-top: 5px;
        padding: 0 0 0 14px;
        bottom: auto;
        background-color: transparent;
        background: transparent url('../img/icon-point2.png') no-repeat left center / 10px 11px;
        color: var(--black);
    }

    .list02 .list-point span {
        display: inline;
    }

    /* list03 980px */
    .list03 {
        border-top: 1px solid #f1f0f0;
        border-bottom: 1px solid #f1f0f0;
    }

    .list03 .list-item+.list-item {
        border-color: #f1f0f0;
    }

    .list03 .list-link {
        position: relative;
        flex-direction: column;
        padding: 12px 0;
    }

    .list03 .list-num {
        display: none;
    }

    .list03 .list-title {
        width: calc(100% - 80px);
        margin-left: 0;
        font-size: 14px;
    }

    .list03 .list-title.row2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: inherit;
    }

    .list03 .list-sub-title {
        font-size: 12px;
    }

    .list03 .list-date {
        display: flex;
        margin-left: 0;
        font-size: 12px;
    }

    .list03 .list-date .list-sub-title::after {
        content: '.';
        display: inline-block;
    }

    .list03 .list-point {
        position: absolute;
        bottom: 12px;
        right: 0;
        margin-left: 0;
        font-size: 14px;
    }

    .list03 .list-use-point {
        position: absolute;
        bottom: 12px;
        right: 0;
        margin-left: 0;
        font-size: 14px;
        text-align: right;
    }




    /* NEWS 커스텀 980px */
    .list03.news .list-date .writer {
        position: relative;
        display: block;
        padding-left: 15px;
    }

    .list03.news .list-date .writer::before {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 7px;
        width: 1px;
        height: 10px;
        background-color: #555;
    }

    .list03.news .list-date .writer::after {
        display: none;
    }

    .list03.news .list-title .writer {
        display: none;
    }

    .list03.news .list-hit {
        display: none;
    }

    /* 상세페이지 980px */
    .board-read-wrap {
        flex-direction: column;
    }

    .board-read-wrap .board-img {
        display: none;
    }

    .board-read-header {
        padding: 15px 0;
        border-top: 0;
        border-bottom-color: #f1f0f0;
        font-size: 14px;
        color: var(--primary);
    }

    .board-read-header .board-tit-wrap {
        margin-right: 80px;
    }

    .board-read-header .board-sub-title {
        font-size: 12px;
    }

    .board-read-header .board-point-wrap {
        display: flex;
    }

    .board-read-header .board-point-wrap .board-sub-title {
        padding-left: 14px;
        background: url('../img/icon-point2.png') no-repeat left center / 10px 11px;
        font-size: 14px;
    }

    .board-read-header .board-point-wrap .board-sub-title::after {
        content: ':';
    }

    .board-read-header .board-date-wrap {
        display: flex;
        font-size: 12px;
    }

    .board-read-header .board-date-wrap .board-tit {
        font-weight: 400;
    }

    .board-read-header .board-date-wrap .board-sub-title::after {
        content: '.';
    }

    .board-read-header .board-btn-apply {
        right: 0;
        width: 67px;
        height: 63px;
        border-radius: 3px;
        font-size: 12px;
    }

    .board-read-body {
        padding: 20px 0;
        border-bottom: 1px solid #f1f0f0;
        font-size: 12px;
    }

    .board-read-body .board-info-img {
        display: none;
    }

    .board-read-footer {
        margin: 20px 0 0;
    }

    .board-read-footer .btn-wrap .btn {
        margin: 0;
        background-color: var(--primary);
        border-color: var(--primary);
    }

    /* 상세페이지 스와이프 */
    .board-thumb-swiper {
        display: block;
        margin: 0 -16px;
    }

    .board-thumb-swiper .swiper-slide img {
        display: block;
    }

    


    /* check 980px */
    .page-tit-point {
        /* justify-content: flex-end; */
        width: auto;
        height: auto;
        margin: 0 0 16px auto;
        background-color: transparent;
        color: var(--primary);
    }

    .page-tit-point span {
        background: url('../img/page-tit-point-m.png') no-repeat left center / 15px;
        font-size: 18px;
    }

    .page-tit-point small {
        font-size: 14px;
    }

    /* history 980px */
    .total-point {
        margin-top: 0;
    }

    .total-point [class*='total-'] {
        flex-direction: column;
        align-items: center;
        padding: 8px 15px;
        font-size: 15px;
    }

    .total-point span:first-child::after {
        display: none;
    }

    .total-point [class*='total-'] small {
        font-size: 12px;
    }

    /* minigame 980px */
    .game {
        flex-direction: column;
        padding: 0 15%;
    }

    .game-board-wrap {
        width: 100%;
    }

    .game-number {
        font-size: 20px;
    }


    .game-board-img {
        width: 100%;
        height: 0;
        padding-top: 100%;
        background-size: cover;
    }

    .game-result-title {
        font-size: 12px;
    }

    .game-result-data li,
    .game-result-nodata {
        font-size: 12px;
    }

    .game-board::after {
        bottom: -40px;
        width: 197px;
        height: 23px;
        background: url('../img/game-shadow-mo.png') no-repeat center / cover;
    }

    .game-result-wrap {
        width: 100%;
        margin: 70px 0 0;

    }

    .btn-game-history .btn {
        border-radius: 5px;
    }

    /* 상세페이지 뉴스 980px */
    .news .board-read-header {
        padding: 15px 0;
    }

    .news .board-read-header .board-sub-title.writer {
        position: relative;
        display: block;
        padding-left: 15px;
    }

    .news .board-read-header .board-sub-title.writer::before {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 7px;
        width: 1px;
        height: 10px;
        background-color: #555;
    }

    .news .board-read-header .board-sec01 {
        flex-direction: column-reverse;
    }

    .news .board-read-header .board-tit-wrap .board-sub-title {
        display: none;
    }

    .news .board-read-header .board-sec02 {
        flex-direction: column-reverse;
        align-items: flex-end;
        margin-top: -19px;
    }

    .news .board-read-header .board-hit-wrap .board-sub-title {
        display: inline;
    }

    .news .board-read-header .board-hit-wrap .board-sub-title::after {
        content: ' :'
    }

    .news .board-read-header .board-recom {
        margin-top: 8px;
        margin-right: 0;
    }

    .news .board-read-header .board-recom>div {
        width: 40px;
        height: 34px;
        padding-top: 17px;
        font-size: 10px;
    }

    .news .board-read-header .board-recom .recom,
    .news .board-read-header .board-recom .nonrecom {
        background-position: center 8px;
        background-size: 9px 9px;
    }

    .news .board-read-footer .recom-wrap {
        position: relative;
        justify-content: flex-end;
    }

    .news .board-read-footer .recom-wrap button {
        width: 40px;
        height: 26px;
        border-radius: 3px;
    }

    .news .board-read-footer .recom-wrap .btn-recom,
    .news .board-read-footer .recom-wrap .btn-nonrecom {
        background-size: 9px 9px;
        background-position: center center;
    }

    .news .board-read-footer .recom-wrap+.btn-wrap {
        margin-top: 20px;
    }

}


@media (max-width: 768px) {
    .gutter-md-x4 {
        margin-left: calc(var(--gutter4) * -1);
        margin-right: calc(var(--gutter4) * -1);
    }

    .gutter-md-x4>[class^=col] {
        padding-left: var(--gutter4);
        padding-right: var(--gutter4);
    }

    .gutter-md-x6 {
        margin-left: calc(var(--gutter6) * -1);
        margin-right: calc(var(--gutter6) * -1);
    }

    .gutter-md-x6>[class^=col] {
        padding-left: var(--gutter6);
        padding-right: var(--gutter6);
    }

    .gutter-md-x10 {
        margin-left: calc(var(--gutter10) * -1);
        margin-right: calc(var(--gutter10) * -1);
    }

    .gutter-md-x10>[class^=col] {
        padding-left: var(--gutter10);
        padding-right: var(--gutter10);
    }

    .gutter-md-x20 {
        margin-left: calc(var(--gutter20) * -1);
        margin-right: calc(var(--gutter20) * -1);
    }

    .gutter-md-x20>[class^=col] {
        padding-left: var(--gutter20);
        padding-right: var(--gutter20);
    }

    .gutter-md-x30 {
        margin-left: calc(var(--gutter30) * -1);
        margin-right: calc(var(--gutter30) * -1);
    }

    .gutter-md-x30>[class^=col] {
        padding-left: var(--gutter30);
        padding-right: var(--gutter30);
    }

    .gutter-md-x40 {
        margin-left: calc(var(--gutter40) * -1);
        margin-right: calc(var(--gutter40) * -1);
    }

    .gutter-md-x40>[class^=col] {
        padding-left: var(--gutter40);
        padding-right: var(--gutter40);
    }

    .gutter-md-x50 {
        margin-left: calc(var(--gutter50) * -1);
        margin-right: calc(var(--gutter50) * -1);
    }

    .gutter-md-x50>[class^=col] {
        padding-left: var(--gutter50);
        padding-right: var(--gutter50);
    }

    .gutter-md-10 {
        margin: calc(var(--gutter10) * -1);
    }

    .gutter-md-10>[class^=col] {
        padding: var(--gutter10);
    }

    .gutter-md-20 {
        margin: calc(var(--gutter20) * -1);
    }

    .gutter-md-20>[class^=col] {
        padding: var(--gutter20);
    }

    .gutter-md-50 {
        margin: calc(var(--gutter50) * -1);
    }

    .gutter-md-50>[class^=col] {
        padding: var(--gutter50);
    }

    .gutter-md-100 {
        margin: calc(var(--gutter100) * -1);
    }

    .gutter-md-100>[class^=col] {
        padding: var(--gutter100);
    }

    .col-md-1 {
        max-width: 8.3333% !important;
    }

    .col-md-2 {
        max-width: 16.6666% !important;
    }

    .col-md-3 {
        max-width: 25% !important;
    }

    .col-md-4 {
        max-width: 33.3333% !important;
    }

    .col-md-5 {
        max-width: 41.6666% !important;
    }

    .col-md-6 {
        max-width: 50% !important;
    }

    .col-md-7 {
        max-width: 58.3333% !important;
    }

    .col-md-8 {
        max-width: 66.6666% !important;
    }

    .col-md-9 {
        max-width: 75% !important;
    }

    .col-md-10 {
        max-width: 83.3333% !important;
    }

    .col-md-11 {
        max-width: 91.6666% !important;
    }

    .col-md-12 {
        max-width: 100% !important;
    }

    /* 타이틀 768px */
    .h-tit1 {
        font-size: 16px;
    }

    /* footer 768px */
    .footer-logo img {
        width: 103px;
    }

    .footer-copyright {
        font-size: 11px;
    }


    /* minigame 768px */
    .game {
        padding: 0;
    }

    .game-btn-start {
        width: 87px;
        height: 87px;
        background-size: cover;
    }

    .game-number-control input {
        height: 38px;
        border-radius: 3px;
        border-color: #d8d8d8;
    }

    .game-board::after {
        width: 134px;
        height: 16px;
        background: url('../img/game-shadow-mo.png') no-repeat center / cover;
    }
}