body {
	color:#213547;
}
/* gap */
.gap30 {gap:30px;}

/* tit */
.h-tit1 ruby rt {
	text-align: left;
	color:#999;
	font-size:45%;
}

/* vuew 스타일 적용 중 */
.h-tit1 {
	margin-bottom:48px;
	border:none;
	font-size: 38px;
}
.h-tit1 span::after {display: none;}

.h-tit2 {
	margin-top:64px;
	margin-bottom:28px;
	font-size:24px;
}

.h-tit2 span {
	display: inline-block;
	border-bottom:2px solid rgb(220, 86, 86);
}


.h-tit3 {
	margin:48px 0 16px;
	font-size:19px;
}

/* menu */
#menu {
	padding:24px;
	background-color: #f8f8f8;
	border-radius: 4px;
}
.menu-tit {
	padding-left: 28px;
	background: url('../img/list-check.svg') no-repeat left center / 20px;
	font-size:20px;
	font-weight: 600;
}

.menu-group {
	margin-top:12px;
	margin-left:12px;
	padding-left:20px;
	border-left:1px dashed #999;
}


/* highlight */
.highlight {
	overflow: hidden;
	background-color:#282c34;
	border-radius:0.4rem;
}

* + .highlight {
	margin-top: 1.2rem;
}

.highlight .hljs-header {
	padding: 0.8rem 1.6rem;
	background-color: rgba(52,53,65,1);
	color:rgb(217, 217, 227);
	font-size:1.2rem;
}

.highlight code.hljs {
	font-family: Consolas, Monaco, monospace;
	font-size: 14px;
}

.hljs-comment, .hljs-quote {color:#f6ce43;}
pre code.hljs::-webkit-scrollbar {height:8px;}
pre code.hljs::-webkit-scrollbar-thumb {background-color:#666;border-radius:10px;}
pre code.hljs::-webkit-scrollbar-track {background-color:transparent;}


/* code */
code.code {font-weight:700;padding:4px 8px;background-color:#f8f8f8;border-radius:4px;font-size:90%;}
code.code::before {content:'"';}
code.code::after {content:'"';}

/* highlighter */
.highlighter {background:linear-gradient(to top, #ffbb0074 40%, transparent 60%)}

@media only screen and (max-width: 768px) {
	/* tit */
	.h-tit1 {
		margin-bottom:28px;
		font-size:32px;
	}


	/* highlight */
	.highlight {
		margin:0 -2.4rem;
		padding:0 2.4rem;
		border-radius:0;
	}
	* + .highlight {
		margin-top: 1.2rem;
	}
	.highlight .hljs-header {
		margin:0 -2.4rem;
	}
	.highlight code.hljs {
		padding:1.6rem 0;
	}
}