body {
	color:#213547;
}

p {
	margin-top:1.6rem;
	color:#666;
}

[class*='bullet'] li {
	color:#666;
}

/* gap */
.gap30 {gap:30px;}

/* header */
#header {position:fixed;top:0;left:0;right:0;z-index:3;height: 50px;background-color: #fff;}

/* container */
#container {padding-top:70px;}
.container-inner {max-width:1100px;padding:0 2.4rem 8.0rem 20.0rem;}

/* aside */
#aside {position:fixed;top:0;left:0;z-index:10;width:20.0rem;height:100%;padding:50px 24px;background-color: #2b333e;}
.aside-menu {margin-right:40px;}
.aside-menu-tit {font-size:16px;color:#fff;font-weight:500;}
.aside-menu-group {margin-top:8px;}
.aside-menu-group + .aside-menu-tit {margin-top:30px;}
.aside-menu-link {display:block;font-size:14px;color:#b5b5b5;transition: all 0.4s;}
.aside-menu-link:hover {color:#fff;}

/* tit */
.h-tit1 {
	margin-bottom:48px;
	border:none;
	font-size: 38px;
}
.h-tit1 span::after {display: none;}

.h-tit2 {
	margin-top:64px;
	margin-bottom:28px;
}

.h-tit2 ruby rt {
	text-align: left;
	color:#999;
	font-size:45%;
}

.h-tit3 {
	margin:48px 0 16px;
	font-size:19px;
}


/* 예시 */
.ex {
	position: relative;
	border:5px solid #e3e3e3;
	border-top:none;
	margin-top:20px;
	padding:55px 15px 15px;
}

.ex::before {
	content:'예시 결과화면';
	position: absolute;
	top:0;
	left:0;
	right:0;
	display: flex;
	align-items: center;
	height: 40px;
	padding-left:10px;
	background-color: #e3e3e3;
	font-size: 14px;
}



/* highlight */
.highlight {
	overflow: hidden;
	background-color:#282c34;
	border-radius:0.4rem;
}

* + .highlight {
	margin-top: 1.2rem;
}

.highlight .hljs-header {
	padding: 0.8rem 1.6rem;
	background-color: rgba(52,53,65,1);
	color:rgb(217, 217, 227);
	font-size:1.2rem;
}

.highlight code.hljs {
	font-family: Consolas, Monaco, monospace;
	font-size: 14px;
}

.hljs-comment, .hljs-quote {color:#f6ce43;}
pre code.hljs::-webkit-scrollbar {height:8px;}
pre code.hljs::-webkit-scrollbar-thumb {background-color:#666;border-radius:10px;}
pre code.hljs::-webkit-scrollbar-track {background-color:transparent;}


/* code */
code.code {font-weight:700;padding:4px 8px;background-color:#f8f8f8;border-radius:4px;font-size:90%;color:#000;}
code.code::before {content:'"';}
code.code::after {content:'"';}

/* highlighter */
.highlighter {background:linear-gradient(to top, #ffbb0074 40%, transparent 60%)}

@media only screen and (max-width: 768px) {
	/* tit */
	.h-tit1 {
		margin-bottom:28px;
		font-size:32px;
	}


	/* container */
	.container-inner {
		padding-left:2.4rem;
	}

	/* aside */
	#aside {
		display: none;
	}

	/* highlight */
	.highlight {
		margin:0 -2.4rem;
		padding:0 2.4rem;
		border-radius:0;
	}
	* + .highlight {
		margin-top: 1.2rem;
	}
	.highlight .hljs-header {
		margin:0 -2.4rem;
	}
	.highlight code.hljs {
		padding:1.6rem 0;
	}
}