.highlight {
	background-color:#282c34;
}

* + .highlight {
	margin-top: 2.4rem;
}

.highlight code.hljs {
	font-family: Consolas, Monaco, monospace;
}
pre code.hljs::-webkit-scrollbar {height:8px;}
pre code.hljs::-webkit-scrollbar-thumb {background-color:#666;border-radius:10px;}
pre code.hljs::-webkit-scrollbar-track {background-color:transparent;}

.mobile .highlight {
	margin:0 -2.4rem;
	padding:0 2.4rem;
}
.mobile .highlight code.hljs {
	padding:1.6rem 0;
}