@charset "UTF-8";

/**** 레이아웃 ****/

/* wrap */
#wrap {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 100%;
}


/* header */
#header {
	background-color: var(--primary);
}

/* aside */
.btn-nav-open {
	width: 24px;
	height:24px;
	background: url('../img/btn-all.svg') no-repeat;
}

.mobile-nav-inner {
	width: 90%;
	height: 100%;
	background-color: #fff;
	transform: translateX(-100%);
	transition: all 0.4s;
}

#mobileNav.active .mobile-nav-inner {
	transform: translateX(0);
}







/* breadcrumb */
#breadcrumb {
	margin:2.0rem 0 1.0rem;
}

.breadcrumb-group {
	display: flex;
	align-items: center;
}

.breadcrumb-item {
	display: flex;
}

.breadcrumb-item + .breadcrumb-item {
	padding-left: 0.8rem;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: "/";
	display: inline-block;
	padding-right: 0.8rem;
	color: var(--gray);
}

/* container */
#container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.container-inner {
	max-width: 1340px;
	margin:0 auto;
	padding:0 2.4rem;
}


/* bg */
.bg-light {background-color: var(--light);}


/* title */
[class*='h-tit'] {
	line-height: var(--line-height);
}

.h-tit1 {
    margin-top:6.0rem;
	margin-bottom: 2.4rem;
	font-size: 3.0rem;
	font-weight: 700;
}

.h-tit2 {
	position: relative;
	margin:5.2rem 0 1.2rem;
	font-size: 2.2rem;
	font-weight: 400;
}

.h-tit3 {
	margin-top: 4.0rem;
	margin-bottom: 0.8rem;
	font-size: 1.8rem;
	font-weight: 400;
}

/* badge */
.badge-wrap {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: -0.5rem 0 0 -0.5rem;
}

.badge {
	display: inline-flex;
	margin: 0.5rem 0 0 0.5rem;
	padding: 0.3rem 2.0rem 0.4rem;
	background-color: #f7f7f7;
	border-radius: 3.0rem;
}


/* 아코디언 */
* + .accordion {
	margin-top:16px;
}

.accordion {
	border-top:1px solid var(--lightgray);
	border-bottom:1px solid var(--light);
}

.accordion-item + .accordion-item {
	border-top:1px solid var(--lightgray);
}

.accordion-button {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1.6rem 0;
	color:var(--black);
	font-size: 1.6rem;
}

.accordion-button::after {
	content: '';
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	margin-left: auto;
	background: url('../img/caret-down-fill.svg') no-repeat center;
	transition: transform 0.2s ease-in-out;
}

.accordion-button.collapsed::after {
	transform:rotate(180deg);
}

.accordion-button.collapsed {
	color:var(--gray)
}

.accordion-body {
	padding: 1.6rem 0;
}

.accordion-body .h-tit2:first-child {
	margin-top:0;
}

.accordion .collapse:not(.show) {
	display: none;
}

.accordion .collapsing {
	overflow: hidden;
	height: 0;
	transition: height .35s ease;
}

/* popup */
.pop-wrap {
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.4s;
}

.pop-wrap.visible {
    display: block;
}

.pop-wrap.active {
    opacity: 1;
    bottom: 0;
}

.pop-wrap .inner {
    width:400px;
    padding:20px;
    border:1px solid #ccc;
    background-color :#fff;
}

@media (max-width: 768px) {
	



}

@media (max-width: 576px) {
	
}