@charset "UTF-8";

/**** 레이아웃 ****/

/* wrap */
#wrap {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 100%;
}


/* header */
#header {
	background-color: var(--primary);
}

/* aside */
.btn-nav-open {
	width: 24px;
	height:24px;
	background: url('../img/btn-all.svg') no-repeat;
}

.mobile-nav-inner {
	width: 90%;
	height: 100%;
	background-color: #fff;
	transform: translateX(-100%);
	transition: all 0.4s;
}

#mobileNav.active .mobile-nav-inner {
	transform: translateX(0);
}







/* breadcrumb */
#breadcrumb {
	margin:2.0rem 0 1.0rem;
}

.breadcrumb-group {
	display: flex;
	align-items: center;
}

.breadcrumb-item {
	display: flex;
}

.breadcrumb-item + .breadcrumb-item {
	padding-left: 0.8rem;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: "/";
	display: inline-block;
	padding-right: 0.8rem;
	color: var(--gray);
}

/* container */
#container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.container-inner {
	max-width: 1340px;
	margin:0 auto;
	padding:0 2.4rem;
}

.main-visual {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 512px;
	background: url('../img/visual.jpg') no-repeat center top;
	font-size: 3.0rem;
	color:#fff;
}



@media (max-width: 768px) {
	



}

@media (max-width: 576px) {
	
}