@charset "UTF-8";
:root {
	--primary: #008080;
	--black:#26292d;
	--dark:#303740;
	--gray:#666;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-Black.subset.woff2') format('woff2'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-Black.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-ExtraBold.subset.woff2') format('woff2'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-ExtraBold.subset.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-Bold.subset.woff2') format('woff2'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-Bold.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-SemiBold.subset.woff2') format('woff2'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-SemiBold.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-Medium.subset.woff2') format('woff2'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-Medium.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-Regular.subset.woff2') format('woff2'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-Regular.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-Light.subset.woff2') format('woff2'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-Light.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-ExtraLight.subset.woff2') format('woff2'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-ExtraLight.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-Thin.subset.woff2') format('woff2'), url('https://ak0513.github.io/common/fonts/pretendarsd/Pretendard-Thin.subset.woff') format('woff');
}

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle;outline:none}
input::-ms-clear {display:none}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff;-webkit-text-size-adjust:none}
/*body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5;font-family:'Spoqa Han Sans', sans-serif;color:#666}*/
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5;font-family:-apple-system, BlinkMacSystemFont, Pretendard, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,'Noto Sans KR', 'Spoqa Han Sans', "Helvetica Neue", sans-serif;color:#666}
a {color:#333;text-decoration:none} 
a:active, a:hover {text-decoration:underline}
a:active {background-color:transparent}z
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
input:checked[type='checkbox']{background-color:#666; -webkit-appearance:checkbox}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'],html input[type='button'],input[type='reset']{-webkit-appearance:none;border-radius:0}
input[type='search']::-webkit-search-cancel-button,textarea{-webkit-appearance:none}

/* global */
#dkIndex {overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0} /* 스킵네비게이션 */
.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa {display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.show {display:block}
.hide {display:none}
.ico_focused {outline: 1px dotted #000;outline: -webkit-focus-ring-color auto 5px}


html, body{height:100%;min-height:100%}

/* 공통이미지 */
.ico_skin{display:block;overflow:hidden;font-size:0;line-height:0;background:url(images/ico_skin.png) 0 0 no-repeat;text-indent:-9999px}
.box_search{background:url(images/box_search.png) 0 0 no-repeat}
.txt_bar{display:inline-block;width:1px;height:9px;margin:0 9px;background-color:#ebebeb}

/* 헤더 */
.wrap_skin{position:relative;min-width:884px;min-height:100%;padding-left:23%;transition:padding-left ease-in-out 0.2s}
.wrap_skin.navi_on {padding-left:960px}
.area_head{position:fixed;left:0;top:0;width:23%;margin-top:171px;min-width:320px;z-index:1000}
.article_skin{width:800px;min-height:858px;margin:0 auto;padding:96px 42px 100px}
#tt-body-index .article_skin { padding-top:70px }
.article_skin .tit_skin{padding-bottom:15px;border-bottom:1px solid #efefef;font-weight:normal;font-size:20px;line-height:26px;color:#5c5c5c}
.article_skin .index_title { display:none }
.area_head .btn_cate{position:absolute;left:35px;top:-141px;width:26px;height:26px;vertical-align:middle}
.area_head .btn_cate .ico_cate{width:26px;height:20px}

.area_navi {display:none;float:left;width:318px}
.area_navi .tt_category {padding:0 40px}
.area_head .area_profile{display:block;text-align:center}
.area_head .area_profile .tit_post{padding:0 25px}
.area_head .area_profile:before{display:block;width:38px;height:2px;margin:0 auto 23px;background-color:#fff;content:''}
.area_head .area_profile .link_post{font-weight:200;font-size:42px;line-height:50px;color:#fff; text-overflow: ellipsis;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box}
.area_head .area_profile .link_post:hover{text-decoration:none}
.area_head .area_profile .thumb_profile{display:block;width:51px;height:51px;margin:44px auto 6px;border-radius:51px}
.area_head .area_profile .img_profile{display:block;border-radius:51px;width:100%;height:100%}
.area_head .area_profile .txt_profile{font-size:16px;color:#fff;opacity:0.7;filter:alpha(Opacity=70);display:block; padding:0 35px; overflow:hidden; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical}

.wrap_sub{background-image:/*@background-image*/url(images/header_default.jpg)/*@*/;}
.wrap_sub{display:block;position:fixed;left:0;top:0;z-index:10;width:23%;min-width:320px;height:100%;min-height:100%;background-repeat:no-repeat;background-position:50% 0;background-size:cover;transition:width ease-in-out 0.2s}
.cont_sub{width:100%;height:100%;background:rgba(34,34,34,0.35)}
.cont_sub .inner_sub {position:relative;width:100%;height:100%}
.cont_sub .area_sub{overflow-x:hidden;overflow-y:auto;position:absolute;top:83px;bottom:80px;left:0;right:0;padding-top:15px}

.area_search{position:absolute;right:34px;top:-154px;z-index:10}
.area_search .btn_search{display:block;position:relative;width:23px;height:23px;margin-top:15px}
.area_search .btn_search .ico_search{width:23px;height:23px;margin:0 auto;background-position:-40px 0}
.area_search .frm_search{display:none;position:relative;width:243px;height:22px;padding:11px 0 11px 57px;background-position:0 -50px;margin-top:6px}
.frm_search .tf_search{width:182px;border:0 none;color:#fff;background:transparent}
.frm_search .tf_search::-webkit-input-placeholder { color:#fff }
.wrap_sub .btn_close{display:none;position:absolute;right:30px;top:31px;width:22px;height:22px;background-position:-70px 0}

.search_on .area_search {left:50%;width:243px;margin-left:-150px}
.search_on .btn_search{display:none}
.search_on .frm_search{display:block}
.search_on .area_head .btn_cate { display:none }

.navi_on .area_head .btn_cate{display:none}
.navi_on .area_navi{display:block}
.navi_on .area_head .area_profile{display:none}
.navi_on .cont_sub{background:url(images/bg_side.png) repeat-y 0 0;opacity:1.0;filter:alpha(Opacity=100)}
.navi_on .wrap_sub{width:960px}
.navi_on .area_search{left:856px;top:-151px}
.navi_on.search_on .area_search {width:216px;left:670px;margin-left:0}
.navi_on .btn_search { margin-top:11px}
.navi_on .btn_search .ico_search{background-position:-100px 0}
.navi_on.search_on .frm_search{width:160px;background-position:0 -100px;margin-top:0}
.navi_on .lab_search{color:rgba(255,255,255,.4)}
.navi_on .frm_search .tf_search {width:140px}
.navi_on .wrap_sub .btn_close{display:block}

.tt_category .link_tit {display:block;padding-bottom:8px;font-weight:normal;font-size:18px;color:#fff}
.tt_category li a .c_cnt,
.tt_category li a img { display:none }
.tt_category .category_list .link_item {display:block;padding:7px 0 8px;overflow:hidden;font-size:18px;color:#fff;text-overflow:ellipsis;white-space:nowrap}
.tt_category .sub_category_list {margin:-3px 0 5px}
.tt_category .sub_category_list .link_sub_item {display:block;overflow:hidden;line-height:27px;color:#a7a7a7;text-overflow:ellipsis;white-space:nowrap}
.tt_category .sub_category_list .link_sub_item::before { content:"- ";}
.tt_category .link_tit:hover,
.tt_category .category_list .link_item:hover,
.tt_category .sub_category_list .link_sub_item:hover { color:#6bacce;text-decoration:underline }
.link_guestbook { display:none }

.wrap_etc{display:none;float:left}
.navi_on .wrap_etc{display:block}
.wrap_etc .col_aside{float:left;width:249px;padding:0 36px}
.wrap_etc .right_side { padding-right:0 }
.box_aside{position:relative;margin-bottom:39px}
.tit_aside{display:block;margin-bottom:7px;color:#6bacce}
.list_board li{padding:3px 0}
.list_board .link_board{display:block;overflow:hidden;font-size:12px;line-height:19px;color:#a7a7a7;white-space:nowrap;text-overflow:ellipsis}
.box_aside .list_tag{overflow:hidden;padding-top:7px}
.box_aside .list_tag li{float:left}
.box_aside .list_tag .link_tag{display:block;height:27px;margin:0 8px 7px 0;padding:0 10px;border:1px solid #525252;border-radius:15px;font-size:11px;line-height:27px;color:#a7a7a7;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:65px}
.box_aside .list_tag .link_tag:hover{text-decoration:none}
.box_aside .link_more{position:absolute;right:6px;top:0;font-size:11px;color:#a7a7a7;text-decoration:underline}
.wrap_etc .month_calendar{width:250px;height:20px;color:#6bacce;text-align:center}
.wrap_etc .month_calendar .btn_prev , .wrap_etc .month_calendar .btn_next{height:17px;padding:0 10px}
.wrap_etc .month_calendar .ico_skin{margin-top:3px;vertical-align:top}
.wrap_etc .month_calendar .ico_prev{width:5px;height:8px;background-position:-130px 0}
.wrap_etc .month_calendar .ico_next{width:5px;height:8px;background-position:-130px -10px}
.wrap_etc .tbl_calendar{border-collapse:collapse;border-spacing:0;width:270px;margin:9px 0 0 -11px}
.wrap_etc .tbl_calendar td{height:26px;vertical-align:middle}
.wrap_etc .col_day{width:14.28%}
.wrap_etc .tit_week{font-weight:normal;font-size:12px;text-align:center;color:#5c5c5c}
.wrap_etc .link_day{display:block;font-size:13px;text-align:center;color:#a7a7a7}
.wrap_etc .day_event{text-decoration:underline}
.wrap_etc .tt-calendar{border-collapse:collapse;border-spacing:0;width:270px !important;margin:0 0 0 -11px}
.wrap_etc .tt-calendar .cal_month { height:20px;text-align:center; margin-bottom:9px }
.wrap_etc .tt-calendar .cal_month a { color:#6bacce; }
.wrap_etc .tt-calendar .cal_month a:first-child,
.wrap_etc .tt-calendar .cal_month a:last-child {display:inline-block;overflow:hidden;font-size:0;line-height:0;background:url(images/ico_skin.png) 0 0 no-repeat;text-indent:-9999px; margin:6px 10px 0;vertical-align:top;width:5px;height:8px;}
.wrap_etc .tt-calendar .cal_month a:first-child { background-position:-130px 0 }
.wrap_etc .tt-calendar .cal_month a:last-child { background-position:-130px -10px }
.wrap_etc .tt-calendar td{height:26px;vertical-align:middle}
.wrap_etc .tt-calendar thead th { width:14.28%; font-weight:normal;font-size:12px;text-align:center;color:#5c5c5c }
.wrap_etc .tt-calendar tbody td {font-size:13px;text-align:center;color:#a7a7a7}
.wrap_etc .tt-calendar tbody td a { color:#a7a7a7; text-decoration:underline }
.list_keep{padding-top:2px}
.list_keep li{padding:3px 0;font-size:12px;color:#a7a7a7}
.list_keep .link_keep{color:#a7a7a7}
.box_visitor { margin-top:-15px }
.list_visitor, .list_total{float:left;color:#a7a7a7}
.list_visitor dt, .list_total dt{float:left;height:20px;margin-right:8px;padding:0 8px;border-radius:10px;font-size:11px;line-height:20px;background-color:rgba(102,102,102,.4)}
.list_visitor dd, .list_total dd{float:left;font-size:12px;line-height:20px;color:#5c5c5c;margin-right:25px}
.list_visitor dd { color:#a7a7a7}

.list_control{position:absolute;left:50%;bottom:19px;width:316px;height:42px;margin-left:-158px;z-index:101}
.navi_on .list_control {left:1px;margin-left:0;opacity:0.5}
.list_control li{float:left}
.list_control .ico_skin {display:block;width:48px;height:40px;margin:0 15px 0 16px}
.list_control .link_write {background-position:0 -160px}
.list_control .link_memo {background-position:-50px -160px}
.list_control .link_rss {background-position:-100px -160px}
.list_control .link_manage {background-position:-150px -160px}


/* footer */
.area_foot{height:49px;border-top:1px solid #e8e8e8;line-height:46px;color:#aaa;text-align:center}
.area_foot .info_copyright{min-width:600px;margin:0 auto;font-size:12px}
.area_foot .emph_t{color:#6bacce}

/* 뷰 상단 */
.area_title{margin:0 0 48px;padding-bottom:16px;border-bottom:1px solid #efefef}
.area_title .tit_category a {font-weight:700;font-size:16px;color:#6bacce}
.area_title .tit_post{padding:5px 0 10px;font-weight:normal;font-size:34px;line-height:43px;color:#222}
.area_title .info_post,
.area_title .info_post a {font-size:13px;color:#a7a7a7}
.area_title .info_post .txt_bar { margin:0 9px 0 5px }

.area_view {line-height:1.7;word-break:keep-all;color:var(--black);}
.area_view code { font-family: Menlo,Consolas,Monaco,monospace; }
.area_view p code { padding:2px 5px; border-radius:3px; background:#efefef; margin:0 2px; border:1px solid #e0e0e0 }
.area_view a {color:#6bacce}


/* 뷰 상단 - 타이틀 */
.area_view [data-ke-size='size26'],
.area_view [data-ke-size='size23'],
.area_view [data-ke-size='size20'] {font-weight:500 !important;line-height:1.5;}
.area_view [data-ke-size='size26'] {margin:0 0 48px 0;font-size:38px !important;font-weight:600 !important;}
.area_view * + [data-ke-size='size26'] {margin-top:60px !important;}

.area_view [data-ke-size='size23'] {margin:0 0 12px 0;font-size:26px !important;}
.area_view * + [data-ke-size='size23'] {margin-top:52px !important;}

.area_view [data-ke-size='size20'] {margin:0 0 8px 0;font-size:22px !important;}
.area_view * + [data-ke-size='size20'] {margin-top:40px !important;}

/* 뷰 상단 - 단락 */
.area_view p {color:var(--dark);}
.area_view p[data-ke-size='size18'] {margin:0 0 8px 0;font-size:18px !important;font-weight:500;}
.area_view * + p[data-ke-size='size18'] {margin-top:20px !important;}
.area_view p[data-ke-size='size16'] {font-size:18px;}
.area_view * + p[data-ke-size='size16'] {margin-top:8px !important;}

/* 뷰 상단 - 목록 */
.area_view [data-ke-list-type] {margin-left:24px;}
.area_view * + [data-ke-list-type] {margin-top:12px;}
.area_view [data-ke-list-type] li {font-size:18px !important;color:var(--dark);}
.area_view [data-ke-list-type] li + li {margin-top:8px;}
.area_view [data-ke-list-type] [data-ke-list-type],
.area_view [data-ke-list-type] [data-ke-list-type] li + li {margin-top:4px;}

.area_view blockquote { padding: 10px 20px; margin: 0 auto 28px; border-left:5px solid #eee }
.area_view blockquote,
.area_view blockquote p { font-size:18px; line-height:30px }
.area_view blockquote ol:last-child,
.area_view blockquote ul:last-child,
.area_view blockquote p:last-child { margin-bottom:0 }
.area_view table { max-width:100% }
.area_view pre { color:#555; background-color:#F6F7F8; margin:28px auto; word-wrap: break-word; font-family: Menlo,Consolas,Monaco,monospace; font-size:14px; line-height:20px; overflow-x:auto; }
.area_view pre code.hljs { padding: 16px; }
.area_view iframe { max-width:100%; display:block; margin:0 auto 20px }
.area_view img { max-width:100%; height:auto }
.area_view .imageblock {width:auto !important; height:auto !important}
.area_view .imageblock img { max-width:100%; height:auto }
.area_view .imageblock .cap1 { font-size:0.8em }
.area_view hr { margin: 3em 5em 3em; border: 0; border-bottom: 1px solid #ccc; }
.area_view hr[data-ke-style='style3'] {margin:100px auto 90px !important;}

/* 소스코드 */
.area_view pre{display:flex;margin:0;background:#282c34;justify-content:flex-start;border-radius:0 0 4px 4px;}
.area_view pre code.hljs{white-space:pre;}
.area_view pre .hljs-name{font-weight:400;}
.area_view pre .language-css .hljs-number{color:#fff;}
.area_view .hljs-header {margin-top:2.0em;padding: 8px 16px;background-color: rgba(52,53,65,1);color:rgb(217, 217, 227);font-size:12px;border-radius:4px 4px 0 0}

.protected_form { text-align:center; padding: 100px 0 136px; border-bottom:1px solid #efefef }
.protected_form p { margin-bottom:10px; font-size:16px; color:#5c5c5c }
.protected_form input { -webkit-appearance: none; padding:0 15px; border: 1px solid #eee; height:38px; line-height:38px; font-size: 12px; box-sizing: border-box;}
.protected_form button { border-radius: 4px; font-size: 12px; line-height: 38px; background-color: #6bacce; color: #fff; font-weight: bold; padding: 0 16px }


/* 뷰 댓글 */
.area_etc{margin-top:38px}
.area_etc .list_tag {position:relative}
.area_etc .list_tag dt{position:absolute;left:0;top:2px;width:33px;height:17px;margin-right:2px;border-radius:8px;font-size:10px;line-height:17px;color:#fff;background-color:#a7a7a7;text-align:center;padding-right:1px}
.area_etc .list_tag dd{padding-left:40px}
.area_etc a {display:inline-block;font-size:13px;color:#a7a7a7}

/* 관련기사 */
.area_related {position:relative;width:820px;margin-top:54px}
.area_related .tit_related {font-weight:normal;font-size:20px;color:#222}
.list_related {overflow:hidden;margin-top:15px}
.list_related li {position:relative;float:left;margin-right:20px}
.list_related li:last-child { margin-right:0}
.list_related .link_related {display:block;overflow:hidden;position:relative;width:185px;height:200px;margin:0 auto;border:1px solid #e8e8e8;background:#fafafa;font-size:13px;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:center;color:#fff}
.list_related .thumb_type .link_related {width:185px;height:200px;border:0 none}
.list_related .frame_related {display:none;position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:.4;filter:alpha(Opacity=40)}
.thumb_type .frame_related {display:block}
.list_related .thumb_related {position:absolute;left:0;top:0;width:100%;height:100%}
.list_related .txt_related {display:block;display:-webkit-box;overflow:hidden;position:relative;left:0;top:0;z-index:10;max-height:80px;padding:27px 20px 0;color:#5c5c5c;text-overflow:ellipsis;-webkit-line-clamp:4;-webkit-box-orient:vertical;word-wrap:break-word}
.list_related .link_related:hover .txt_related {text-decoration:underline}
.list_related .date_related {position:absolute;left:0;bottom:20px;z-index:10;width:100%;color:#a7a7a7}
.list_related .thumb_type .txt_related {color:#fff}
.list_related .thumb_type .date_related {color:#fff; opacity:0.7}
.area_related .link_more {position:absolute;right:20px;top:10px;font-size:13px;color:#a7a7a7;border-bottom: 1px solid #a7a7a7;text-decoration:none}

/* 뷰댓글 */
#tt-body-page .area_reply{margin-top:51px}
.area_reply .tit_reply{font-weight:normal;font-size:20px;color:#222;display:block;margin-bottom:14px}
.area_reply .fld_reply{padding:20px;border-top:1px solid #e8e8e8;background-color:#fafafa;position:relative}
.area_reply .writer_info{overflow:hidden;margin-bottom:5px}
.area_reply .writer_info .info_name{float:left;position:relative;margin-right:5px}
.area_reply .writer_info .info_pw{float:left;position:relative}
.area_reply .writer_info .wrap_info{display:block}
.area_reply .writer_info .inp_info{width:171px;height:36px;padding:0 13px;border:1px solid #e8e8e8;background:#fff;font-size:13px;-webkit-box-sizing:border-box;box-sizing:border-box}
.area_reply .reply_write{position:relative;padding:7px 12px;border:1px solid #e8e8e8;background-color:#fff}
.area_reply .lab_write{position:absolute;top:7px;left:12px;font-size:13px;color:#a7a7a7}
.area_reply .tf_reply{width:100%;height:70px;border:1px solid #fff;font-size:13px;resize:none;box-sizing:border-box}
.area_reply .inp_info,
.area_reply .tf_reply { color:#5c5c5c }
.area_reply .writer_check {position:absolute; bottom:21px; right:93px}
.area_reply .writer_check .check_secret{float:left;overflow:hidden;position:relative;height:36px;margin-right:14px;line-height:36px}
.area_reply .writer_check .inp_secret{float:left;width:18px;height:18px;margin:10px 5px 0 0;opacity:0.01;filter: alpha(opacity=1)}
.area_reply .writer_check .lab_secret{float:left;font-size:12px;color:#5c5c5c;cursor:pointer}
.area_reply .writer_check .ico_check{position:absolute;top:10px;left:0;width:19px;height:19px;background-position:-120px -30px}
.area_reply .writer_check .inp_secret:checked + .lab_secret .ico_check{background-position:-120px -50px}
.area_reply .writer_btn{float:right;margin-top:10px}
.area_reply .writer_btn .btn_enter{float:left;width:71px;height:36px;border-radius:18px;font-size:13px;line-height:38px;background-color:#6bacce;color:#fff}
.list_reply .thumb_profile{float:left;width:48px;height:48px;margin-right:20px;border-radius:48px;background-position:-140px -20px;margin-top:2px}
.list_reply .img_profile{display:block;width:100%;height:100%;border-radius:48px;}
.area_reply .list_reply li{position:relative;padding:23px 0 22px 0;border-top:1px solid #efefef; min-height:53px}

#tt-body-page .area_reply .list_reply li.tt_more_preview_comments_wrap { padding:20px; min-height: inherit; border-top:1px solid #efefef }
#tt-body-page .area_reply .list_reply li.tt_more_preview_comments_wrap:hover { background-color:#efefef }
#tt-body-page .area_reply .list_reply .tt_more_preview_comments_text { color:#aaa }

.area_reply .list_reply li:first-child{border-top:0 none}
#tt-body-page .list_reply li:first-child{padding-top:0}
.area_reply .list_reply .re_reply{padding-left:69px}
.area_reply .reply_content{overflow:hidden;display:block}
.area_reply .tit_nickname{float:left;overflow:hidden;max-width:200px;margin-right:10px;color:#222;white-space:nowrap;text-overflow:ellipsis;font-size:16px}
.area_reply .tit_nickname a:hover{text-decoration:none}
.area_reply .txt_date{float:left;margin-top:5px;font-size:12px;color:#a7a7a7}
.area_reply .txt_reply{display:block;padding-top:4px;font-size:13px;line-height:21px;color:#5c5c5c;clear:both}
.area_reply .list_reply li:hover .area_more,
.area_reply .list_reply li:hover .area_more .reply_layer { display:block }
.area_reply .list_reply li:first-child .reply_layer { top:2px }
.area_more .reply_layer { position:absolute; right:0px; top:25px }
.area_more .reply_layer .link_reply { margin:0 2px;font-size:12px;color:#6bacce }
.area_more .reply_layer .link_reply:hover { text-decoration: none}
.area_more{display:none}

/* 리스트 */
.list_content {padding:24px 0 26px;border-bottom:1px solid #efefef }
.list_content::after { content:''; clear:both; display:block }
.list_content .thumbnail_post { float:right; width:150px; height:150px; margin:6px 0 5px 30px }
.list_content .link_post{display:block;overflow:hidden;text-decoration:none}
.list_content .link_post:hover .tit_post {color:#6bacce}
.list_content .tit_post{display:block;font-weight:normal;font-size:24px;line-height:34px}
.list_content .txt_post{display:-webkit-box;display:-ms-flexbox;display:box;overflow:hidden;margin-top:4px;font-size:13px;line-height:23px;color:#5c5c5c;vertical-align:top;word-break:break-all;-webkit-box-orient:vertical;-webkit-line-clamp:4}
.list_content .txt_bar { margin:0 7px }
.list_content .detail_info{margin-top:11px;font-size:12px;color:#aaa}
.list_content .detail_info .link_cate{font-size:13px;text-decoration:none;color:#6bacce}

/* 태그 */
#tt-body-tag .list_tag{overflow:hidden;margin-top:30px}
#tt-body-tag .list_tag li{float:left;margin:0 10px 10px 0}
#tt-body-tag .list_tag .link_tag{display:block;height:34px;padding:0 16px;border:1px solid #6bacce;border-radius:17px;line-height:36px;color:#6bacce;font-size:13px}
#tt-body-tag .list_tag .link_tag:hover{color:#fff;background-color:#6bacce;text-decoration:none}

#tt-body-tag .article_skin,
#tt-body-guestbook .article_skin { padding-top:94px }

/* 게스트 댓글 */
#tt-body-guestbook .list_reply{border-bottom:1px solid #e8e8e8}
#tt-body-guestbook .area_reply .fld_reply{border-top:1px solid #efefef;border-bottom:1px solid #efefef}
#tt-body-guestbook .article_skin .tit_skin { border:0 }

/* 페이징 */
.article_skin .area_paging{height:30px;margin-top:26px;text-align:center}
.area_paging .inner_paging{display:inline-block;overflow:hidden}
.area_paging .ico_skin{width:6px;height:10px}
.area_paging .btn_prev{float:left;margin-right:18px;line-height:30px;color:#5c5c5c}
.area_paging .btn_prev.no-more-prev {color:#a7a7a7; text-decoration: none}
.area_paging .no-more-prev .ico_prev{background-position:-150px -10px}
.area_paging .ico_prev{display:inline-block;margin-right:8px;background-position:-140px -10px}
.area_paging .btn_next{float:left;margin-left:18px;line-height:30px;color:#5c5c5c}
.area_paging .btn_next.no-more-next {color:#a7a7a7; text-decoration: none}
.area_paging .no-more-next .ico_next{background-position:-150px 0}
.area_paging .ico_next{display:inline-block;margin-left:8px;background-position:-140px 0}
.area_paging .link_page span,
.area_paging .interword {float:left;min-width:10px;height:30px;margin:0 4px;padding:0 10px;line-height:30px;color:#5c5c5c}
.area_paging .link_page .selected {border-radius:30px;background-color:#6bacce;color:#fff}


/*!
  Theme: Railscasts
  Author: Ryan Bates (http://railscasts.com)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.05.0
*/
/*pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#e6e1dc;background:#2b2b2b}.hljs ::selection{color:#3a4055}.hljs-comment{color:#5a647e}.hljs-tag{color:#d4cfc9}.hljs-operator,.hljs-punctuation,.hljs-subst{color:#e6e1dc}.hljs-operator{opacity:.7}.hljs-bullet,.hljs-deletion,.hljs-name,.hljs-selector-tag,.hljs-template-variable,.hljs-variable{color:#da4939}.hljs-attr,.hljs-link,.hljs-literal,.hljs-number,.hljs-symbol,.hljs-variable.constant_{color:#cc7833}.hljs-class .hljs-title,.hljs-title,.hljs-title.class_{color:#ffc66d}.hljs-strong{font-weight:700;color:#ffc66d}.hljs-addition,.hljs-code,.hljs-string,.hljs-title.class_.inherited__{color:#a5c261}.hljs-built_in,.hljs-doctag,.hljs-keyword.hljs-atrule,.hljs-quote,.hljs-regexp{color:#519f50}.hljs-attribute,.hljs-function .hljs-title,.hljs-section,.hljs-title.function_,.ruby .hljs-property{color:#6d9cbe}.diff .hljs-meta,.hljs-keyword,.hljs-template-tag,.hljs-type{color:#b6b3eb}.hljs-emphasis{color:#b6b3eb;font-style:italic}.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string{color:#bc9458}.hljs-meta .hljs-keyword,.hljs-meta-keyword{font-weight:700}*/


pre code.hljs{display:block;padding:1em}code.hljs{padding:3px 5px}/*!
   Theme: Agate
   Author: (c) Taufik Nurrohman <hi@taufik-nurrohman.com>
   Maintainer: @taufik-nurrohman
   Updated: 2021-04-24

   #333
   #62c8f3
   #7bd694
   #888
   #a2fca2
   #ade5fc
   #b8d8a2
   #c6b4f0
   #d36363
   #fc9b9b
   #fcc28c
   #ffa
   #fff
*/pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#abb2bf;background:#282c34}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#c678dd}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#98c379}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#d19a66}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#e6c07b}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}




@media only screen and (max-width:738px){
	.ico_skin {background:url(images/m320_ico_skin.png) 0 0 no-repeat}
	/* 스킨 */
	.wrap_skin {min-width:100%;padding-left:0}
	.area_head {width:100%;height:45px;min-width:auto;margin-top:0}
	.area_head .area_profile {display:none}
	.area_head .btn_cate {left:0;top:0;width:49px;height:45px}
	.area_head .btn_cate .ico_cate {width:19px;height:15px;margin:0 auto;background-position:0 0}
	.search_on .area_search {top:0;left:0;width:100%;margin-left:0;padding:12px 15px 0;-webkit-box-sizing:border-box;box-sizing:border-box;padding:6px 15px 0;background:#fff}
	.area_search .frm_search {width:auto;height:31px;padding:0 15px 0 40px;border:1px solid #ebebeb;border-radius:20px;margin-top:0}
	.frm_search .tf_search {width:100%;color:#222;height:19px;margin-top:7px;font-family:applesdgothicneo-light}
	.frm_search .tf_search::-webkit-input-placeholder { color:#a7a7a7 }
	.frm_search .ico_search {position:absolute;left:14px;top:7px;width:18px;height:18px;background-position:-20px 0}
	.wrap_sub {position:relative;width:auto;min-width:auto;display:none}
	.cont_sub .inner_sub {padding:0}
	.cont_sub .area_sub {height:auto}
	.wrap_skin.navi_on {padding-left:0}
	.area_search {right:0;top:0}
	.area_search .btn_search {width:50px;height:45px;margin-top:0}
	.area_search .btn_search .ico_search {width:18px;height:18px;margin-top:0;background-position:-20px 0}

	#tt-body-page .area_head { background-color:rgba(255,255,255,0.95) }
	#tt-body-page .navi_on .area_head { background-color: inherit }

	.navi_on .area_head {height:72px;position:fixed; right:58px; width:auto}
	.navi_on .area_head .area_profile {display:block;position:absolute;left:0;right:0;top:0;height:72px;text-align:left}
	.navi_on .area_head .area_profile:before {display:none}
	.navi_on .area_head .area_profile .tit_post {height:30px;padding:3px 0 0;text-align:left}
	.navi_on .area_head .area_profile .link_post {padding-left:73px;font-size:14px;font-weight:normal;-webkit-line-clamp: 1;}
	.navi_on .area_head .area_profile .txt_profile {display:inline-block;margin-top:5px;padding-left:73px;font-size:13px;color:#a7a7a7;font-family:applesdgothicneo-ultralight}
	.navi_on .area_head .area_profile .thumb_profile {position:absolute;left:20px;top:15px;width:43px;height:43px;margin:0}
	.navi_on .area_search {display:none}
	.navi_on .wrap_sub {position:absolute;left:0;top:0;z-index:100;width:100%;height:100%;display:block}
	.navi_on .cont_sub {background:#222;opacity:0.9;filter:alpha(Opacity=90);position:fixed}
	.navi_on .cont_sub .area_sub { top:73px; bottom:0; border-top:1px solid rgba(255,255,255,0.05); }
	.navi_on .wrap_sub .btn_close {right:20px;top:28px;width:18px;height:18px;background-position:-110px 0;position:fixed}
	.navi_on .area_navi {width:100%;-webkit-box-sizing:border-box;box-sizing:border-box}
	.navi_on .area_navi .tt_category { padding:11px 20px 16px; }
	.navi_on .wrap_etc {display:none}
	.navi_on .tt_category .link_tit {font-size:17px;padding-bottom:7px}
	.navi_on .tt_category .category_list .link_item {font-size:17px; padding:8px 0}
	.navi_on .tt_category .sub_category_list { padding-top:0; margin-top:-1px; margin-bottom:0 }
	.navi_on .tt_category .sub_category_list .link_sub_item {font-size:15px;padding-bottom:7px}
	.navi_on .link_guestbook {display:block;padding:25px 20px 27px;font-size:17px;color:#fff;border-top:1px solid rgba(255,255,255,0.05)}
	.navi_on .article_skin { display:none }

	.list_control {display:none}
	.article_skin {width:100%;min-height:100%;padding:45px 0 0 0}
	.area_title {padding:0 24px 16px;}
	.area_title .tit_category a {font-weight:normal;font-size:14px}
	.area_title .tit_post {padding:2px 0 3px;font-size:24px;line-height:30px}
	.area_title .info_post {display:block;margin-top:5px;font-size:12px;font-family:applesdgothicneo-ultralight}
	.area_title .info_post .txt_bar { margin:0 6px 0 4px}
	.protected_form { padding:15px 0 50px }

	/* 뷰 상단 */
	.area_view {padding:0 24px;}

	.area_view [data-ke-size='size26'] {margin-bottom:28px;}
	/* 뷰 상단 - 소스코드 */
	.area_view pre,
	.area_view .hljs-header {margin-left:-24px;margin-right:-24px;border-radius:0}

	.area_etc {margin-top:14px;padding:0 15px}
	.area_etc .list_tag dt {width:35px;height:19px;font-size:12px;line-height:19px;border-radius:10px;text-align:center}

	.list_share {height:36px;margin-top:29px}
	.list_share .ico_skin {width:36px;height:36px;margin:0 3px}
	.list_share .link_fb {background-position:0 -20px}
	.list_share .link_ks {background-position:-40px -20px}
	.list_share .link_tw {background-position:-80px -20px}

	.area_related {width:100%;margin-top:47px}
	.area_related .tit_related {display:block;padding:0 15px;font-size:14px}
	.list_related {padding:0 10px;margin-top:1px}
	.list_related li {width:50%;margin:10px 0 0;padding:0 5px;-webkit-box-sizing:border-box;box-sizing:border-box}
	.list_related .link_related {width:100%;height:100%;min-width:137px;min-height:150px}
	.list_related .thumb_type .link_related {width:100%;height:100%}
	.list_related .thumb_related .img_related {width:100%}
	.list_related .txt_related {padding:18px 10px 0;font-size:14px;line-height:17px}
	.list_related .date_related {font-size:13px;bottom:14px}
	.list_related .txt_related { color:#222 }
	.list_related .txt_related,
	.list_related .date_related { font-family:applesdgothicneo-ultralight }
	#tt-body-page .area_reply {margin-top:35px}
	.area_related .link_more {right:15px;top:0}
	.area_reply .tit_reply {padding:0 15px 8px;font-size:14px;margin:0}
	.area_reply .list_reply li {padding:13px 15px 12px;min-height:30px}
	.list_reply .thumb_profile{width:33px;height:33px;margin-right:11px;margin-top:2px;background-position:-120px -20px}
	.area_reply .reply_content { font-family:applesdgothicneo-light; margin-top:4px }
	.area_reply .tit_nickname {max-width:120px;margin-right:5px;font-size:14px}
	.area_reply .txt_reply {line-height:19px;padding-top:2px}
	.area_reply .txt_date  {font-family:applesdgothicneo-ultralight;margin-top:3px}
	.area_reply .more_reply {display:block;position:absolute;right:1px;top:0;width:30px;height:45px}
	.area_reply .ico_more {display:block;width:3px;height:13px;margin:20px auto 0;background-position:-60px 0}
	.area_reply .list_reply li:first-child .ico_more { margin-top:7px }
	.area_reply .list_reply .re_reply {padding-left:60px}
	.area_reply .list_reply li:last-child { padding-bottom:10px }
	.area_reply .fld_reply {padding:15px 15px 14px;border-bottom:1px solid #efefef;font-family:applesdgothicneo-ultralight}
	#tt-body-page .area_reply .fld_reply { margin-top:2px }
	.area_reply .writer_info .info_name {width:50%;margin-right:0}
	.area_reply .writer_info .info_pw {width:50%}
	.area_reply .writer_info .inp_info {width:100%;padding:0 11px}
	.area_reply .reply_write {margin-top:9px;padding:6px 7px}
	.area_reply .reply_write .tf_write { color:#222 }
	.area_reply .info_name .wrap_info {padding-right:5px}
	.area_reply .info_pw .wrap_info {padding-left:5px}
	.area_reply .writer_info .lab_info {font-size:14px}
	.area_reply .lab_write {top:8px;left:14px;font-size:14px}
	.area_reply .writer_check .lab_secret {font-size:14px;color:#666}
	.area_reply .writer_check .ico_check {top:0;width:30px;height:30px;background-position:0 -60px}
	.area_reply .writer_check .inp_secret:checked + .lab_secret .ico_check{background-position:-30px -60px}
	.area_reply .writer_check .inp_secret:checked + .lab_secret {font-family:applesdgothicneo}
	.area_reply .writer_check {right:inherit;left:15px;bottom:15px}
	.area_reply .writer_check .check_secret {float:left;height:30px;line-height:29px}
	.area_reply .writer_check .inp_secret {width:30px;height:30px;margin:0 4px 0 0}
    .area_reply .writer_btn {float:none;overflow:hidden;margin-top:11px}
	.area_reply .writer_btn .btn_enter {float:right;width:65px;height:33px;font-size:14px;line-height:33px}
	.area_more {display:block}
	.area_reply .list_reply li:first-child .reply_layer { top:24px }
	.area_more .reply_layer {display:none;position:absolute;right:15px;top:38px;z-index:10;width:95px}
	.on_more .reply_layer {display:block}
	.reply_layer .inner_reply_layer {padding:10px 0;border:1px solid #dcdcdc;background:#fff}
	.reply_layer .inner_reply_layer .link_reply {display:block;font-size:14px;text-align:center;line-height:32px;color:#222}
	.article_skin .area_paging {height:18px;margin:20px 0 41px 0;padding:0 15px}
	.area_paging .inner_paging {display:block;height:18px}
	.area_paging .link_page,
    .area_paging .interword {display:none}
	.area_paging .ico_skin {width:10px;height:18px}
	.area_paging .btn_prev {font-size:15px;line-height:19px;color:#222}
	.area_paging .ico_prev {float:left;margin-right:8px;background-position:-90px 0}
	.area_paging .no-more-prev .ico_prev {background-position:-70px 0}
	.area_paging .btn_next {float:right;margin-right:0;font-size:15px;vertical-align:top;line-height:19px;color:#222}
	.area_paging .ico_next {float:right;margin-left:10px;background-position:-100px 0}
	.area_paging .no-more-next .ico_next {background-position:-80px 0}
	.area_foot .info_copyright {font-size:11px}
	/* 리스트 */
	.list_content {padding:19px 15px 15px}
	.list_content .thumbnail_post { margin-top:1px; margin-left:14px }
	.list_content .thumbnail_post,
	.list_content .thumbnail_post img { width:80px; height:80px }
	.list_content .tit_post {font-size:17px;line-height:21px;color:#222;font-family:applesdgothicneo-light;display: -webkit-box;-webkit-line-clamp:2;overflow:hidden;text-overflow:ellipsis;word-break:break-all;-webkit-box-orient:vertical}
	.list_content .txt_post {font-size:14px;line-height:19px;font-family:applesdgothicneo-ultralight;-webkit-line-clamp:2;}
	.list_content .detail_info {color:#a7a7a7; font-family:applesdgothicneo-ultralight; margin-top:4px}
	.list_content .detail_info .txt_bar { margin:0 2px }
	.list_content .detail_info .txt_date { font-size:13px }

	#tt-body-page .article_skin { margin-top:40px }
	#tt-body-tag .article_skin,
	#tt-body-guestbook .article_skin,
	#tt-body-index .article_skin { padding-top:46px }

	/* 게스트북 */
	#tt-body-guestbook .area_reply .fld_reply {border-top:0 none}

	/* 태그 */
	#tt-body-tag .navi_on .area_head {border-bottom:0 none}
	#tt-body-tag .list_tag {margin-bottom:30px;padding:0 15px}

    /* 메뉴바 */
    #tistorytoolbarid { display:none }

	/* 타이틀 */
	#tt-body-index .index_title { display:block }
	#tt-body-index .index_title .tit_skin,
	.list_title .tit_skin,
	#tt-body-tag .article_skin .tit_skin,
	#tt-body-guestbook .article_skin .tit_skin {position:fixed;left:0;right:0;top:0;height:45px;padding-bottom:0; border-bottom:1px solid #e0e0e0;background-color:rgba(255, 255, 255, 0.95);z-index:1}
	.tit_skin .txt_title { display:block; position:absolute; left:50px; right:50px; top:0; height:45px; font-size:15px;line-height:48px; text-align:center; color:#222;font-family:applesdgothicneo-light; overflow:hidden; text-overflow:ellipsis; white-space: nowrap;word-wrap: normal}

	.area_foot { height:40px; line-height:38px; }
}

@media only screen and (max-width:320px) {
	.area_reply .tit_nickname {max-width:90px;}
}

@media only screen and (min-width:738px) and (max-width:1262px) {
	/* 스킨 */
	.wrap_skin {min-width:100%;padding-left:0}
	.area_head {position:absolute;width:100%;margin-top:0;padding-top:100px}
	.area_head .btn_cate {left:0;top:0;width:94px;height:80px}
	.area_head .btn_cate .ico_cate {width:26px;height:20px;margin:0 auto;background-position:0 0}
	.area_head .area_profile:before {margin:0 auto 30px}
	.area_head .area_profile .thumb_profile {margin-top:35px}
	.area_head .area_profile .tit_post {margin-top:-6px}
	.wrap_sub {position:relative;width:100%;max-height:500px}
	.cont_sub {position:static;height:450px}
	.cont_sub .inner_sub {padding:0}
	.area_search {right:0;top:0;}
	.area_search .btn_search {width:90px;height:80px;margin-top:0}
	.area_search .btn_search .ico_search {width:22px;height:22px;margin:2px auto 0;background-position:-40px 0}

	.search_on .area_search {left:0;top:0;width:100%;margin-left:0;padding:12px 34px 0;-webkit-box-sizing:border-box;box-sizing:border-box}
	.area_search .frm_search {width:auto;height:28px;padding:6px 15px 6px 45px;border:1px solid #ebebeb;border-radius:20px;background:none;margin-top:10px}
	.frm_search .tf_search {width:100%;height:28px}
	.frm_search .lab_search {left:45px;top:8px}
	.frm_search .ico_search {position:absolute;left:13px;top:8px;width:22px;height:22px;background-position:-40px 0}

	.wrap_skin.navi_on {padding-left:0}
	.navi_on .area_head {padding-top:0}
	.navi_on .area_search {left:auto;right:92px;top:29px;position:fixed}
	.navi_on .area_search .btn_search {width:auto;height:auto}
	.navi_on .btn_search .ico_search {background-position:-100px 0}
	.navi_on.search_on .area_search {left:0;top:25px;width:50%;height:1px;margin-left:50%;padding:0 75px 0 40px}
	.navi_on.search_on .frm_search {width:100%;height:36px;border:1px solid #868686;box-sizing:border-box;-webkit-box-sizing:border-box; margin-top:0}
	.navi_on .frm_search .tf_search {width:100%;height:auto}
	.navi_on .frm_search .ico_search {left:16px;top:10px;width:14px;height:14px;background-position:-160px 0}
	.navi_on .wrap_sub {position:fixed;left:0;top:0;width:100%;z-index:100}
	.navi_on .wrap_sub .btn_close {right:41px}
	.navi_on .cont_sub {height:100%;background:#222 url(images/bg_side_t.png) repeat-y 50% 0;opacity:0.9;filter:alpha(Opacity=90)}
	.navi_on .wrap_etc .col_aside {float:none;width:auto;padding:0 48px}
	.navi_on .area_navi {width:50%;-webkit-box-sizing:border-box;box-sizing:border-box}
	.navi_on .wrap_etc {width:50%}
	.navi_on .list_control {left:42px;width:365px;margin-left:0}
	.navi_on .list_control .ico_skin {width:58px}
	.navi_on .article_skin { display:none }

	.wrap_etc .tt-calendar{width:100% !important}

	.list_control {width:274px;bottom:19px;margin-left:-137px}
	.list_control .ico_skin {width:48px;height:40px;margin:0 10px}
	.list_control .link_write {background-position:0 -160px}
	.list_control .link_memo {background-position:-50px -160px}
	.list_control .link_rss {background-position:-100px -160px}
	.list_control .link_manage {background-position:-150px -160px}

	.article_skin {width:auto;padding:57px 34px 100px}
	#tt-body-index .article_skin { padding-top:27px }
	#tt-body-tag .article_skin,
	#tt-body-guestbook .article_skin { padding-top: 57px; }
	#tt-body-page .article_skin { padding-top:56px }

	.list_share {margin-top:47px;height:36px}
	.list_share .ico_skin {width:36px;height:36px}
	.list_share .link_fb {background-position:0 -120px}
	.list_share .link_ks {background-position:-40px -120px}
	.list_share .link_tw {background-position:-80px -120px}
	.area_related {width:100%;margin-top:54px}
	.list_related {margin:15px -10px 0}
	.list_related li {width:25%;margin-right:0;padding:0 10px;webikit-box-sizing:border-box;box-sizing:border-box}
	.list_related .link_related {width:100%;max-width:183px}
	.list_related .thumb_type .link_related {width:100%;max-width:185px}
	.area_related .link_more {top:12px;right:0}
	.area_reply .tit_nickname {font-size:16px}
	.area_reply .txt_date {margin-top:4px}
	.area_reply .writer_info .lab_info {font-size:13px}
	.area_reply .lab_write {font-size:13px}

    /* 메뉴바 */
    #tistorytoolbarid { display:none }
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5) and (max-width :738px), only screen and (min-device-pixel-ratio : 1.5) and (max-width :738px), only screen and (min-resolution:2dppx) and (max-width :738px) {
	.ico_skin {background-image:url(images/m640_ico_skin.png);-webkit-background-size:160px 100px;background-size:160px 100px}
}






/* 추가 css */
/* 폰트 */
.list_content .tit_post,
.list_content .txt_post,
.list_content .detail_info,
.tit_skin .txt_title,
.list_related .txt_related,
.list_related .date_related,
#tt-body-page figure[data-ke-type='opengraph'] div.og-text p.og-title,
#tt-body-page figure[data-ke-type='opengraph'] div.og-text p.og-desc,
#tt-body-page figure[data-ke-type='opengraph'] div.og-text p.og-host{font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,'Spoqa Han Sans', "Helvetica Neue", sans-serif;}

/* 칼라 재설정 */
.area_foot .emph_t,
.list_content .link_post:hover .tit_post,
.tt_category .link_tit:hover,
.tt_category .category_list .link_item:hover, 
.tt_category .sub_category_list .link_sub_item:hover{color:#008080 !important;}

.list_content .detail_info .link_cate{color:#aaa}

.area_reply .writer_btn .btn_enter,
.area_paging .link_page .selected{background:#008080 !important;}

.tit_aside,
.wrap_etc .tt-calendar .cal_month a{color:#fff !important;}



/***** 리스트 *****/
.list_content .txt_post{color:#464646;}
.list_content .tit_post{color:#111;}



/* sample 예시화면 */
.sample {margin-top:16px;border:10px solid #ddd;padding:24px;}
.sample-btn {display:flex;gap:4px;flex-wrap:wrap;margin-top:16px;}
.sample-btn button {border:none;padding:8px 16px;background-color:#008080;color:#fff;border-radius:2px;transition:all 0.4s;}
.sample-btn button:hover {background-color: #055959;}
.sample-btn button.on {background-color: #055959;color:yellow}

figure figcaption{padding-top:0;color:#666;font-size:12px;}

#tt-body-page blockquote[data-ke-style='box'],
#tt-body-page blockquote[data-ke-style='style2'],
#tt-body-page blockquote[data-ke-style='style3']{color:#111;font-size:1.0rem;}
#tt-body-page blockquote[data-ke-style="style2"] {background:#edeffd;border-color:#b9c1ff;}
#tt-body-page blockquote[data-ke-style='style3']{margin-top:1.5rem;}

.area_title .tit_category a{color:#999;}

/* 테이블 */
.area_view .tbl-scroll{overflow-x:auto;}
.area_view table{margin:1.0em 0 0 !important;}
.area_view table[data-ke-style] tr,
.area_view table[data-ke-style] td{width:auto !important;height:auto !important;padding:5px 10px;border:1px solid #ddd;text-align:center;font-size:1.0rem;color:#111;}
.area_view table[data-ke-style]{border-collapse: collapse; width: 100%;}
.area_view table[data-ke-style] tr:first-child td{border-color:#ddd;}
.area_view table[data-ke-style] tr th{border:1px solid #ddd;background:#f8f8f8;font-weight:700;color:#222;}
.area_view table[data-ke-style] tr td{color:#464646;}

.area_view table[data-ke-style='style2'] tr td{text-align:center;}

/* 이미지 */
#tt-body-page figure.imageblock{display:block;margin:2.0rem 0 0;max-width:initial;font-size:1.0em;}
#tt-body-page figure.imageblock span,
#tt-body-page figure.imageblock img{display:block;}
#tt-body-page figure figcaption{margin-top:0.5em;padding:0 10px;}

#tt-body-page .figure-capture{width:40%;margin:2.0em auto 0;}

#tt-body-page .figure-border{margin-top:2.0rem;}
#tt-body-page .figure-border figure.imageblock{margin:0;}
#tt-body-page .figure-border figure.imageblock span{border-top:1px solid #ddd;border-bottom:1px solid #ddd;}


/* 이미지 2023 추가 */
#tt-body-page figure.imageblock {max-width:320px;margin:0 auto;}
#tt-body-page * + figure.imageblock {margin-top:16px;}
#tt-body-page figure.imageblock figcaption {margin-top:12px !important;font-size:14px;color:#999;line-height:1.4;}

/* swiper */
#tt-body-page .swiper-container{margin:2.0em 0 0;}
#tt-body-page .swiper-container figure.imageblock{margin:0;}



/* 링크 */
#tt-body-page figure[data-ke-type='opengraph']{margin-bottom:0;}
#tt-body-page figure[data-ke-type='opengraph'] + figure{margin-top:10px;}
#tt-body-page figure[data-ke-type='opengraph'] a{display:flex;align-items:center;height:initial;padding:20px;border-color:#ddd;background:#fafafa;border-radius:5px;}
#tt-body-page figure[data-ke-type='opengraph'] div.og-image{position:relative;top:0;left:0;bottom:0;flex:0 0 auto;width:130px;height:130px;border-radius:5px;border:none;margin-right:20px;}
#tt-body-page figure[data-ke-type='opengraph'] div.og-text{position:relative;overflow:hidden;left:initial;padding:0; text-overflow:ellipsis;white-space:nowrap;}
#tt-body-page figure[data-ke-type='opengraph'] div.og-text p.og-title{margin-bottom:0 !important;max-width:100%;line-height:1.2;color:var(--primary);}
#tt-body-page figure[data-ke-type='opengraph'] div.og-text p.og-desc{display:block;white-space:nowrap;max-height:initial;}
#tt-body-page figure[data-ke-type='opengraph'] div.og-text p.og-host{position:relative;bottom:0;margin-top:1.0em !important;line-height:1.2;}



/* 인용 */
#tt-body-page blockquote[data-ke-style='style3']{font-size:1.2rem;border:3px solid #b2d9d9;background:#f2f9f9;}



/* 카테고리 다른 글 */
.area_view .another_category{margin:10px -15px 0;padding:0;border:none;border-top:1px solid #efefef !important;}
.area_view .another_category h4{font-size:1.0rem !important;font-weight:normal !important;color:#222 !important;margin:0 !important;padding:10px 0 !important}
.area_view .another_category h4 a{font-weight:normal !important;color:#222 !important;}
.area_view .another_category table{margin-bottom:0;}
.area_view .another_category table,
.area_view .another_category tbody,
.area_view .another_category tr,
.area_view .another_category th,
.area_view .another_category td{display:block;}
.area_view .another_category table{margin-top:0 !important;}
.area_view .another_category th{position:relative;font-size:16px !important;padding:10px 10px 10px 40px !important;border-bottom:1px solid #eee;}
.area_view .another_category th::before{content:'';display:block;position:absolute;top:19px;left:20px;width:6px;height:6px;background:#000;border-radius:50%;}
.area_view .another_category tr:last-child th{border-bottom:none;}
i.area_view .another_category th a.current{border-bottom:none !important;}
.area_view .another_category th a{color:#111 !important;font-size:16px;}
.area_view .another_category th span,
.area_view .another_category td{display:none;}



/* 관련 글 */
.area_related{border-top:1px solid #efefef;margin-top:30px;padding-top:10px;}
.area_related .tit_related{font-size:1.0rem !important;}

.area_etc{display:none;}





@media only screen and (max-width: 738px) {
	/***** 리스트 *****/
	
	
	/***** 상세 *****/
	#tt-body-page .article_skin{margin-top:20px;}
	
	.list_content .tit_post{font-size:1.25rem;line-height:1.4;}
	.list_content .txt_post{margin-top:7px;font-size:1.0rem;line-height:1.5;}
	
	.area_title .tit_post{font-size:2.0rem;line-height:1.4;}
	

	
	/* 이미지 */
	#tt-body-page .figure-capture{margin-top:1.0em;width:80%;}
	#tt-body-page .figure-capture figure.imageblock{margin:0;}
	#tt-body-page .figure-border{margin:1.0em -15px 0;}
	
	/* swiper */
	#tt-body-page .swiper-container{margin:1.0em -15px 0;}
	#tt-body-page .swiper-container figure.imageblock{margin:0;}

	/* 테이블 */
	.area_view table[data-ke-style]{width:1000px;}
	
	/* 링크 */
	#tt-body-page figure[data-ke-type='opengraph']{max-width:initial;margin:1.0rem -15px 0;}
	#tt-body-page figure[data-ke-type='opengraph'] + figure{margin-top:-1px;}
	#tt-body-page figure[data-ke-type='opengraph'] a{padding:10px;border-left:none;border-right:none;border-radius:0;}
	#tt-body-page figure[data-ke-type='opengraph'] div.og-image{left:0;width:70px;height:70px;margin-right:15px;}
	#tt-body-page figure[data-ke-type='opengraph'] div.og-text{left:initial;padding:0;}
	#tt-body-page figure[data-ke-type='opengraph'] div.og-text p.og-title{font-size:1.0rem;margin-bottom:5px !important;}
	#tt-body-page figure[data-ke-type='opengraph'] div.og-text p.og-desc{display:none;}
	#tt-body-page figure[data-ke-type='opengraph'] div.og-text p.og-host{margin:0 !important;}
	
	/* 카테고리의 다른 글 */
	.area_view .another_category h4{padding:10px 15px !important;font-weight:normal !important;}
	.area_view .another_category th{padding:10px 15px 10px 40px !important;}
	.area_view .another_category{border-top-width:10px !important;}
	
	/* 관련 글 */
	.area_related{border-top-width:10px !important;}
	.area_related .tit_related{font-size:1.0rem;}
	.area_related .link_more{top:10px;}
}

/* 샘플용 */
.jk{margin-top:2.0em;}
.jk p[data-ke-size]{margin:0 !important; margin-top:1.0em !important;margin-bottom:1.0em !important;}
.jk p[data-ke-size] + p{margin:0 !important; margin-top:1.0em !important;margin-bottom:1.0em !important;}

.jk.mg0 *,
.jk.mg0 p,
.jk.mg0 p + p[data-ke-size]{margin:0 !important;}

.jk.line{padding:2.0em;border:1px solid #ddd;}

.jk .check-wrap{position:relative;}
.jk .check-wrap + .check-wrap{margin-top:0.5em;}
.jk .check-wrap input[type="checkbox"]{position:absolute;top:0;left:0;opacity:0;cursor:pointer;-webapperance:none;}
.jk .check-wrap input[type="checkbox"] + .txt{position:relative;display:block;padding-left:35px;}
.jk .check-wrap input[type="checkbox"] + .txt::before{content:'';position:absolute;top:0;left:0;width:21px;height:21px;background-color:#fff;border:1px solid #ddd;border-radius:3px;}
.jk .check-wrap input[type="checkbox"]:checked + .txt::before{border-color:#008080;background-color:#008080;}
.jk .check-wrap input[type="checkbox"]:checked + .txt::after{content:'';position:absolute;top:3px;left:8px;width:5px;height:10px;border-right:3px solid #fff;border-bottom:3px solid #fff;transform:rotate(45deg);}

.jk .radio-wrap{position:relative;}
.jk .radio-wrap + .radio-wrap{margin-top:0.5em;}
.jk .radio-wrap input[type="radio"]{position:absolute;top:0;left:0;opacity:0;cursor:pointer;-webapperance:none;}
.jk .radio-wrap input[type="radio"] + .txt{position:relative;display:block;padding-left:35px;}
.jk .radio-wrap input[type="radio"] + .txt::before{content:'';position:absolute;top:0;left:0;width:21px;height:21px;background-color:#fff;border:1px solid #ddd;border-radius:50%;}
.jk .radio-wrap input[type="radio"]:checked + .txt::before{}
.jk .radio-wrap input[type="radio"]:checked + .txt::after{content:'';position:absolute;top:4px;left:4px;width:15px;height:15px;background:#008080;border-radius:50%;}

.jk button{padding:6px 15px;background:#ededed;border:none;border-radius:3px;cursor:pointer;font-size:16px;}
.jk button.on{background:#008080;color:#fff;}


.jk .video-container{position:relative;height:0;padding-bottom:56.25%;}
.jk .video-container iframe{position:absolute;top:0;left:0;width:100%;height:100%;}

.jk .tabs [role="tablist"]{display: flex;}
.jk .tabs [role="tablist"] [role="tab"]{padding:6px 15px;border:none;border-radius:3px 3px 0 0;cursor:pointer;}
.jk .tabs [role="tablist"] [role="tab"] + [role="tab"]{margin-left:1px;}
.jk .tabs [role="tab"][aria-selected="true"]{background-color:#008080;color:#fff;}
.jk .tabs [role="tabpanel"]{padding:15px;background-color:#008080;color:#fff;}

.jk.onlyChild .parents div:only-child{background-color:green;color:#fff;padding:0.2em;}
.jk.onlyChild .parents p:only-child{background-color:gray;color:#fff;padding:0.2em;}
.jk.onlyChild .parents p:only-of-type{text-decoration:underline;font-style:italic;}

.jk.nthChild .parents p:nth-child(odd) {background-color: green;color:#fff;padding:0.2em;}
.jk.nthChild .parents p:nth-child(even){background-color: gray;color:#fff;padding:0.2em;}
.jk.nthChild .parents p:nth-child(3n){font-style: italic;}
.jk.nthChild .parents p:nth-child(3n + 1){text-decoration:underline;}
.jk.nthOfChild .parents p:nth-of-type(odd){background-color: green;color:#fff;padding:0.2em;}
.jk.nthOfChild .parents p:nth-of-type(even){background-color: gray;color:#fff;padding:0.2em;}
.jk.nthOfChild .parents p:nth-of-type(3n){font-style: italic;}
.jk.nthOfChild .parents p:nth-of-type(3n + 1){text-decoration:underline;}

.jk.firstChild .parents p:first-child {background-color:green;color:#fff;}
.jk.firstChild .parents > p:first-child {text-decoration:underline;font-style:italic;}

.jk.firstOfType .parents p:first-of-type {background-color:green;color:#fff;}
.jk.firstOfType .parents > div :first-of-type {background-color:gray;color:#fff;}

.jk.not .parents p:not(.first){background-color:green;color:#fff;}
.jk.not .parents span:not(.fourth){background-color:gray;color:#fff;}
.jk.not .parents .fifth :not(p){font-style:italic;text-decoration:underline;}

@media (max-width: 738px) {
	/* 샘플용 */
	.jk{margin:1.0em 0 0;border-left:none;border-right:none;}
	.jk p[data-ke-size]{margin:0 !important; margin-top:1.0em !important;margin-bottom:1.0em !important;}
	.jk p[data-ke-size] + p{margin:0 !important; margin-top:1.0em !important;margin-bottom:1.0em !important;}
	
	.jk.full{margin-left:-15px;margin-right:-15px;}
	.jk.line{margin-left:-15px;margin-right:-15px;padding:1.0em;border-left:0;border-right:0;}
}