/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    word-wrap: break-word;
}

.a11y {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

body {
	font-weight: 500;
	line-height: 1.45;
}

/* btn */
.btn {
	display: inline-flex;
	align-items: center;
	min-height: 35px;
	padding:0 25px;
	background-color:#01363F;
	border-radius: 100px;
	color:#fff;
}


/* header */
.logo {
	display: inline-flex;
	align-items: center;
	height: 60px;
	padding-left: 90px;
	background: url('../img/logo.svg') no-repeat;
	font-size: 34px;
	font-weight: 700;
	color:#fff;
}
.header-top {
	background-color:#034854;
}

.header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1330px;
	margin:0 auto;
	padding: 20px 15px;
}

.btn-mobile-menu {
	display: none;
}

#nav {
	background-color: #999;
}

.nav-group {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1330px;
	margin:0 auto;
	padding:0 15px;
}

.nav-item + .nav-item {
	margin-left: 100px;
}

.nav-link {
	display: block;
	padding:20px 0;
	font-size: 16px;
	color:#fff;
}

.top-img {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 265px;
	background: url('../img/top-img.png') no-repeat;
	text-align: center;
	font-size: 24px;
	color:#fff;
}

.top-img strong {
	display: block;
	margin-top: 7px;
	font-size: 52px;
	font-weight: 600;
}