<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="../js/ui.js"></script>
	<title>팝업</title>
</head>

<body>
	<div id="wrap">
		<header id="header">
			header
		</header>

		<section id="container">
			<div class="container-inner">
				<div class="btn-wrap">
					<button type="button" class="btn btn-primary" title="팝업 열기" data-modal-open="#modal1">팝업1</button>
					<button type="button" class="btn btn-secondary" title="팝업 열기" data-modal-open="#modal2">팝업2</button>
				</div>
			</div>
		</section>
	</div>

	<div id="modal1" class="modal" aria-labelledby="modal-title">
		<div class="modal-inner">
			<div class="modal-header">
				<h2 id="modal-title">팝업1</h2>
				<button class="btn-modal-close" aria-label="팝업 닫기" data-modal-close="#modal1"></button>
			</div>
			<div class="modal-body">
				<button type="button" title="팝업 열기" data-modal-open="#modal2">open2</button>
				<a href="#">aaa</a>
				<a href="#">aaa</a>
			</div>
			<div class="modal-footer">
				<div class="btn-wrap j-c-end">
					<button type="button" class="btn btn-primary btn-sm" data-modal-close="#modal1">팝업 닫기</button>
				</div>
			</div>
		</div>
	</div>

	<div id="modal2" class="modal bottom" aria-labelledby="modal-title2">
		<div class="modal-inner">
			<div class="modal-header">
				<h2 id="modal-title2">팝업2</h2>
				<button class="btn-modal-close" aria-label="팝업 닫기" data-modal-close="#modal2"></button>
			</div>
			<div class="modal-body">
				내용2
			</div>
			<div class="modal-footer">
				<div class="btn-wrap j-c-end">
					<button type="button" class="btn btn-primary btn-sm" data-modal-close="#modal2">팝업 닫기</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>