<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="../js/ui.js"></script>
	<title>팝업</title>
</head>

<body>
	<div id="wrap">
		<header id="header">
			header
			<button type="button" class="btn-nav-open" data-popup="#mobileNav" aria-lable="전체메뉴 열기"></button>
		</header>

		<section id="container">
			<div class="container-inner">
				<div class="btn-wrap">
					<div class="btn-inner">
						<button type="button" class="btn btn-primary pop-btn-open" title="팝업 열기" data-popup="#popup1">팝업1</button>
						<button type="button" class="btn btn-secondary pop-btn-open" title="팝업 열기" data-popup="#popup2">팝업2</button>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div id="popup1" class="pop-wrap" aria-labelledby="pop-title">
		<div class="inner">
			<div class="pop-header">
				<h2 id="pop-title">팝업1</h2>
				<button class="btn-pop-close" aria-label="팝업 닫기">X</button>
			</div>
			<div class="pop-body">
				<button type="button" class="pop-btn-open" title="팝업 열기" data-popup="#popup2">open2</button>
				<a href="#">aaa</a><a href="#">aaa</a>
			</div>
			<div class="pop-footer">
				<button class="btn-pop-close" aria-label="팝업 닫기">X</button>
			</div>
		</div>
	</div>

	<div id="popup2" class="pop-wrap" aria-labelledby="pop-title2">
		<div class="inner">
			<div class="pop-header">
				<h2 id="pop-title2">팝업2</h2>
			</div>
			<div class="pop-conts">
				내용2
			</div>
			<button class="btn-pop-close" aria-label="팝업 닫기">X</button>
		</div>
	</div>
</body>

</html>